body {
        width: 100%;
        _position: relative;
        overflow-x: hidden
    }

    .tnav_pop {
        border: 1px solid #ddd;
        width: 607px;
        padding: 15px;
        background: #fff;
        box-shadow: 0 0 3px #ccc;
        position: absolute;
        visibility: hidden;
        z-index: -9
    }

    .tnav_pop .l_side {
        width: 180px;
        padding-right: 8px;
        border-right: 1px solid #F1F1F1;
        float: left;
    }

    .tnav_pop .r_side {
        width: 410px;
        padding-left: 8px;
        float: left;
    }

    .tnav_pop .msp {
        height: 10px;
        margin-bottom: 15px;
        border-bottom: 1px dotted #999;
        clear: both;
        overflow: hidden
    }

    .tnav_pop h3 {
        font-size: 14px;
        display: block;
        color: #c00;
        padding-bottom: 6px;
        text-align: left;
        margin: 0
    }

    .tnav_pop p {
        font-size: 12px;
        color: #ccc;
        line-height: 22px;
        text-align: left
    }

    .tnav_pop p i {
        font-style: normal;
        background: #999;
        line-height: 22px;
        margin-right: 8px;
        padding: 2px 3px;
        color: #fff;
        border-radius: 4px
    }

    .tnav_pop p a {
        color: #666;
        text-decoration: none;
        margin: 0 3px;
        white-space: nowrap
    }

    .tnav_pop p a:hover {
        color: #c00
    }

    .tnav_pop .brands a, .catlis .brands a {
        width: 55px;
        height: 30px;
        float: left;
        margin: 0 3px 3px 0
    }

    .tnav_pop .brands a:hover, .catlis .brands a:hover {
        width: 53px;
        height: 28px;
        border: 1px solid #ccc;
        overflow: hidden
    }

    /*左侧分类导航*/
    .category-menu-nav {
        position: absolute;
        visibility: hidden;
        z-index: -9;
        width: 190px;
    }

    .category-menu-nav .menu-title {
        position: absolute;
        top: -33px;
        left: 0;
        width: 190px;
        height: 33px;
        line-height: 33px;
        background: #c40000;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-align: center
    }

    .category-menu-nav .menu-nav-container {
        width: 190px;
        background-color: #1e1908
    }

    .category-menu-nav .menu-nav-container li {
        position: relative;
        height: 43px;
        line-height: 43px;
        *background: #2d2d2d;
        color: #fff
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 33px;
        margin-right: 5px;
        text-align: right;
        text-decoration: none;
        font-size: 16px;
        -webkit-transition: width .2s linear, background .2s linear;
        -moz-transition: width .2s linear, background .2s linear;
        -o-transition: width .2s linear, background .2s linear;
        transition: width .2s linear, background .2s linear;
        background: url(static/images/navcats_icon.png) no-repeat 12px -422px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon2 {
        background-position: 10px -48px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon3 {
        background-position: 10px -92px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon4 {
        background-position: 10px -136px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon5 {
        background-position: 10px -187px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon6 {
        background-position: 10px -233px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon7 {
        background-position: 10px -280px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon8 {
        background-position: 10px -330px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon9 {
        background-position: 10px -462px
    }

    .category-menu-nav .menu-nav-container .menu-nav-trigger {
        display: none
    }

    .category-menu-nav .menu-nav-container .menu-nav-arrow {
        position: absolute;
        top: 20px;
        right: 10px;
        display: none;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-style: solid;
        border-width: 4px 4px 0;
        border-color: #fff transparent;
        _border-color: #fff #454442
    }

    .category-menu-nav .menu-nav-container a {
        color: #fff
    }

    .category-menu-nav .menu-nav-container a:hover {
        color: #fff
    }

    .category-menu-nav .menu-nav:hover .menu-nav-arrow {
        display: block
    }

    .category-menu-nav .menu-nav:hover {
        background: #a90000
    }

    .category-menu-nav .menu-nav:hover .menu-nav-icon {
        width: 36px;
        background-position-x: 14px;
    }

    .category-menu-nav .menu-nav:hover .menu-nav-arrow {
        -webkit-transition: -webkit-transform .2s linear;
        -moz-transition: -moz-transform .2s linear;
        -o-transition: -o-transform .2s linear;
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        top: 10px \9;
        right: 12px \9;
        border-width: 4px 0 4px 4px \9;
        border-color: transparent #fff transparent white \9;
        _display: none
    }

    .category-menu-nav .menu-nav-container .menu-nav-market {
        height: 41px;
        line-height: 41px;
    }

    .category-menu-nav .menu-nav-market .menu-nav-arrow {
        display: none
    }

    .category-menu-nav .menu-nav-market .market-nav-arrow {
        display: none;
        position: absolute;
        right: -1px;
        top: 14px;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-style: solid;
        border-width: 7px 7px 7px 0;
        border-color: transparent #f3f3f3;
        _border-color: #454442 #f3f3f3
    }

    .category-menu-nav .menu-nav:hover .market-nav-arrow {
        display: block;
        _display: none
    }

    /*左侧分类导航弹出*/
    .category-menu-pannel {
        height: 385px;
        width: 320px;
        position: absolute;
        visibility: hidden;
        z-index: -9
    }

    .category-sub-pannel {
        height: 385px;
        overflow: hidden;
        z-index: 5;
        background: #fbfbfb;
        -webkit-box-shadow: 1px 0 2px #978d8d inset;
        -moz-box-shadow: 1px 0 2px #978d8d inset;
        box-shadow: 1px 0 2px #978d8d inset;
        opacity: .95;
        filter: alpha(opacity=95)
    }

    .category-sub-pannel .sub-pannel-ctn {
        overflow: hidden;
        width: 280px;
        margin: 0 20px
    }

    .category-sub-pannel .category-title {
        position: relative;
        height: 20px;
        width: auto;
        margin: 25px auto 0;
        border-bottom: 1px solid #000
    }

    .category-sub-pannel .category-title a {
        color: #000;
        font-family: 'Microsoft YaHei';
        position: absolute;
        left: 0;
        bottom: 0;
        background: url(static/images/lf_pop_icon.png) no-repeat;
        display: block;
        width: 90px;
        height: 20px;
        line-height: 20px;
        padding-top: 17px;
        padding-left: 45px;
        text-decoration: none;
        font-weight: 700;
        text-align: left;
        -webkit-transition: left .3s linear;
        -moz-transition: left .3s linear;
        -o-transition: left .3s linear;
        transition: left .3s linear
    }

    .category-sub-pannel .category-title a:hover {
        left: 5px
    }

    .category-sub-pannel .category-title .category-more {
        position: absolute;
        top: 0;
        right: 0;
        background: 0 0;
        width: 30px;
        padding: 0;
        left: auto;
        font-size: 12px;
        color: #666
    }

    .category-sub-pannel .category-title .category-more:hover {
        left: auto
    }

    .category-sub-pannel .category-label-list {
        *zoom: 1;
        width: auto;
        margin: 10px 0 0 -1px;
        overflow: hidden
    }

    .category-sub-pannel .category-label-list:before, .category-sub-pannel .category-label-list:after {
        display: table;
        content: "";
        line-height: 0
    }

    .category-sub-pannel .category-label-list:after {
        clear: both
    }

    .category-sub-pannel .category-label-list a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        float: left;
        white-space: nowrap;
        *background: 0 0;
        *border-left: 1px solid #888;
        padding: 0 8px;
        margin-top: 5px;
        color: #888
    }

    .category-sub-pannel .category-label-list a:hover {
        color: #eeaebc
    }

    .category-sub-pannel .category-label-list .highlight {
        color: #eeaebc
    }

    .category-sub-pannel .label-list-2line {
        height: 46px
    }

    .category-sub-pannel .label-list-3line {
        height: 69px
    }

    .category-sub-pannel .label-list-4line {
        height: 92px
    }

    .category-sub-pannel .category-pannel-line {
        display: block;
        height: 0;
        line-height: 0;
        font-size: 0;
        margin: 12px 10px 10px;
        border-bottom: 1px dotted #cdcdcd
    }

    .market-sub-pannel {
        width: 150px
    }

    .market-sub-pannel a {
        text-decoration: none
    }

    .market-sub-pannel .market-list {
        margin: 9px auto;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Microsoft YaHei'
    }

    .market-sub-pannel .market-list a {
        float: none;
        display: inline-block;
        text-align: center;
        width: 50px;
        color: #363636;
        border-bottom: 1px solid #e5e5e5;
        border-left: 0;
        padding: 0;
        margin-top: 0;
        height: 38px;
        line-height: 38px;
        background: 0 0
    }

    .market-sub-pannel .market-list a:hover {
        color: #363636
    }

    .market-sub-pannel-opt2 {
        width: 90px;
        opacity: .8;
        filter: alpha(opacity=80);
        -webkit-box-shadow: 1px 0 5px #ccc;
        -moz-box-shadow: 1px 0 5px #ccc;
        box-shadow: 1px 0 5px #ccc
    }

    .market-sub-pannel-opt2 .market-list {
        margin: 6px 0
    }

    .market-sub-pannel-opt2 .market-list a {
        display: block;
        position: relative;
        margin: 0 auto;
        border-bottom: 1px dotted #D5D5D5
    }

    .category-menu-pannel .category-label-list .highlight {
        background: none
    }

    .category-menu-pannel .category-nobg a {
        background: none;
        padding-left: 0px
    }

    .category-1-pannel .category-ydnx a {
        background-position: -23px -24px
    }

    .category-1-pannel .category-nvx a {
        background-position: -22px -71px
    }

    .category-1-pannel .category-label-list a:hover {
        color: #d01f47
    }

    .category-1-pannel .category-label-list .highlight {
        color: #d01f47
    }

    .category-2-pannel .category-nzydf a {
        background-position: -23px -118px
    }

    .category-2-pannel .category-nvzydf a {
        background-position: -23px -165px
    }

    .category-2-pannel .category-label-list a:hover {
        color: #1291cf
    }

    .category-2-pannel .category-label-list .highlight {
        color: #1291cf
    }

    .category-3-pannel .category-nzpb a {
        background-position: -23px -212px
    }

    .category-3-pannel .category-nvzpb a {
        background-position: -23px -258px
    }

    .category-3-pannel .category-label-list a:hover {
        color: #8b478b
    }

    .category-3-pannel .category-label-list .highlight {
        color: #8b478b
    }

    .category-4-pannel .category-lanqiu a {
        background-position: -22px -308px
    }

    .category-4-pannel .category-label-list a:hover {
        color: #d8468d
    }

    .category-4-pannel .category-label-list .highlight {
        color: #d8468d
    }

    .category-5-pannel .category-zuqiu a {
        background-position: -22px -353px
    }

    .category-5-pannel .category-label-list a:hover {
        color: #2062d3
    }

    .category-5-pannel .category-label-list .highlight {
        color: #2062d3
    }

    .category-6-pannel .category-peijian a {
        background-position: -23px -402px
    }

    .category-6-pannel .category-label-list a:hover {
        color: #df3f4e
    }

    .category-6-pannel .category-label-list .highlight {
        color: #df3f4e
    }

    .category-7-pannel .category-hwx a {
        background-position: -20px -446px
    }

    .category-7-pannel .category-hwf a {
        background-position: -20px -495px
    }

    .category-7-pannel .category-hwp a {
        background-position: -20px -638px
    }

    .category-7-pannel .category-label-list a:hover {
        color: #f56a00
    }

    .category-7-pannel .category-label-list .highlight {
        color: #f56a00
    }

    .category-8-pannel .category-nx a {
        background-position: -20px -540px
    }

    .category-8-pannel .category-nvx a {
        background-position: -20px -585px
    }

    .category-8-pannel .category-label-list a:hover {
        color: #2262d3
    }

    .category-8-pannel .category-label-list .highlight {
        color: #2262d3
    }

    .category-9-pannel .category-ntx a {
        background-position: -20px -718px
    }

    .category-9-pannel .category-nvtx a {
        background-position: -20px -678px
    }

    .category-9-pannel .category-label-list a:hover {
        color: #e85298
    }

    .category-9-pannel .category-label-list .highlight {
        color: #e85298
    }

    /*151111下拉*/
    .wnav_pop {
        width: 668px;
        text-align: left;
        font-family: Microsoft Yahei;
        background: #fff;
        box-shadow: 0 0 3px #CCCCCC;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        z-index: -9
    }

    .wnav_pop .lv15_cats {
        padding: 8px 0 13px;
    }

    .wnav_pop li {
        display: block;
        float: left;
        width: 140px;
        padding-left: 22px
    }

    .wnav_pop li h4 {
        font-size: 18px;
        display: block;
        padding-bottom: 7px;
        height: 24px;
        line-height: 24px;
        color: #2a2a2a;
        margin: 0;
    }

    .wnav_pop li a {
        display: inline-block;
        position: relative;
        font-size: 12px;
        line-height: 24px;
        outline: none;
        color: #555555;
        vertical-align: bottom;
        text-decoration: none;
        white-space: nowrap;
    }

    .wnav_pop li a:hover {
        color: #c80000;
    }

    .wnav_pop .brands {
        width: 255px;
        background-color: #fff;
    }

    .wnav_pop .brands h3 {
        font-size: 12px;
        color: #a5a5a5;
        font-weight: normal;
        height: 22px;
        line-height: 22px
    }

    .wnav_pop .brands a {
        float: left;
        height: 35px;
        margin: 0 3px 3px 0;
        width: 69px;
    }

    .wnav_pop .brands a:hover {
        border: 1px solid #CCCCCC;
        height: 33px;
        overflow: hidden;
        width: 67px;
    }

    .floor_duanma {
        border: 1px solid #eaeaea;
        padding: 5px;
        overflow: hidden
    }

    .floor_duanma .lf {
        float: left;
        width: 390px;
    }

    .floor_duanma .lf .dm {
        padding: 10px 0 10px 8px;
    }

    .floor_duanma .lf .dm .tit {
        font-weight: 700;
        padding-bottom: 8px;
        border: none;
        background: none;
    }

    .floor_duanma .lf .dm .tit span {
        font-weight: 100;
        padding-left: 8px;
        color: #999
    }

    .floor_duanma .lf .dm .cm a {
        background: #dadad3;
        color: #555;
        display: inline-block;
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
        margin: 0 5px 4px 0;
        padding: 0 4px;
        text-decoration: none
    }

    .floor_duanma .lf .dm .cm a:hover {
        background: #c00;
        color: #fff
    }

    .floor_duanma .rt {
        float: left;
        margin: -10px -20px 0 0;
        padding-left: 10px;
        width: 590px;
        overflow: hidden
    }

    /*圣诞gif*/
    .head .logo {
        position: relative;
    }

    .head .logo i {
        display: block;
        width: 184px;
        height: 73px;
        background: url(static/images/141224xmas.gif) no-repeat;
        position: absolute;
        top: 0;
        right: -22px;
    }

    .nav_head .navbox li.subnav .sport {
        display: block;
        position: absolute;
        left: -36px;
        top: -20px;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 2;
    }

    .nav_head .sjwd {
        display: block;
        float: left;
        width: 165px;
        height: 34px;
    }

    .nav_head li .sjwd a, .nav_head li .sjwd a:hover {
        display: block;
        float: left;
        width: 165px;
        height: 34px;
        line-height: 34px;
        background: url(static/images/wx.gif) no-repeat 0 0px;
    }

    .nav_head li .sjwd img {
        display: none;
    }

    .nav_head li .sjwd a:hover {
        padding: 0;
        margin-left: 0
    }

    .nav_head li .sjwd a:hover img {
        display: block;
        position: absolute;
        top: 34px;
        left: 0px;
    } 
    

.n_select dl.moreSelected {
        background: #f5f5f5
    }

    .n_select dl .more_open {
        position: absolute;
        top: 11px;
        right: 58px;
        color: #666;
        line-height: 16px;
        padding: 0 5px 0 20px;
        background: #eee url("static/images/list_icon.png") no-repeat 5px -364px;
        border: 1px solid #ddd;
        cursor: pointer
    }

    .n_select dl .more_open_act {
        text-align: center;
        padding: 10px;
        clear: both;
        width: 50%;
        margin: 0 auto
    }

    .n_select dl .more_open_act i {
        display: inline-block;
        margin: 0 6px;
        line-height: 22px;
        height: 22px;
        padding: 0 10px;
        border-radius: 2px;
        cursor: pointer
    }

    .n_select dl .more_open_act i.more_nosub {
        border: 1px solid #ccc;
        background: #f2f2f2;
        color: #c5c5c5;
        cursor: default
    }

    .n_select dl .more_open_act i.more_sub {
        border: 1px solid #a00;
        background: #c00;
        color: #fff;
    }

    .n_select dl .more_open_act i.more_close {
        border: 1px solid #ccc;
        background: url(static/images/head_cart_bg.gif) no-repeat -50px -2px;
        color: #666
    }

    .n_select dl a.more_chose, .n_select dl#color_dl dd a.color_more_chose {
        border: 1px solid #999;
        border-radius: 2px;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        margin: -2px 0 0 -2px;
        padding: 2px 19px 2px 4px
    }

    .n_select dl#color_dl dd a.color_more_chose {
        padding: 0;
        margin: -1px
    }

    .n_select dl#brand_dl a.brand_more_chose {
        border: 1px solid #999;
        height: 30px;
        width: 55px;
        position: relative
    }

    .n_select dl a.more_chose i, .n_select dl#brand_dl a.brand_more_chose i, .n_select dl#color_dl dd a.color_more_chose i {
        display: block;
        position: absolute;
        right: 2px;
        top: 3px;
        height: 13px;
        width: 13px;
        overflow: hidden;
        background: #666 url("static/images/list_icon.png") no-repeat 0 -43px;
        text-indent: -99px
    }

    .n_select dl a.more_chose:hover, .n_select dl#brand_dl a.brand_more_chose:hover, .n_select dl#color_dl dd a.color_more_chose:hover {
        border-color: #c00;
        text-decoration: none
    }

    .n_select dl a.more_chose:hover i, .n_select dl#brand_dl a.brand_more_chose:hover i, .n_select dl#color_dl dd a.color_more_chose:hover i {
        background-color: #c00;
        transform: rotate(90deg);
        transition: transform .2s ease;
        -moz-transform: rotate(90deg);
        -moz-transition: -moz-transform .2s ease
    } 
    
.product_list p.yjyp {
        position: absolute;
        left: 2px;
        top: 134px;
        width: 170px;
        background: #c33;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-family: microsoft yahei
    }

    .product_fz_new p.yjyp {
        top: 196px;
        width: 216px
    }

    .product_fz_new .cur p.yjyp {
        top: 193px;
        left: -1px
    }

    .product_fz_new dl {
        width: 220px;
        margin: 20px 11px 10px;
        _margin: 20px 9px 10px;
        border: 1px solid #eee;
        height: 322px;
    }

    .product_fz_new dt {
        height: 244px;
        border: 0;
        padding: 3px 0 3px;
        position: relative;
    }

    .product_fz_new dt img {
        height: 210px;
        width: 210px
    }

    .product_fz_new dd {
        margin: 0 1px 1px;
        border-top: 1px solid #f3f3f3;
        height: 55px
    }

    .product_fz_new dd ul {
        height: 60px;
        width: 203px;
        padding: 5px 5px 5px 10px
    }

    .product_list .p-scroll {
        position: absolute;
        z-index: 2;
        width: 194px;
        margin-left: 0;
        padding: 2px 0 3px 26px;
        margin-top: 2px;
    }

    .product_list .cur .p-scroll {
        margin-left: -3px
    }

    .product_list .p-scroll .ps-next, .product_list .p-scroll .ps-prev {
        display: none;
        position: absolute;
        width: 20px;
        height: 29px;
        line-height: 29px;
        text-align: center;
        color: #aaa;
        font-size: 16px;
        font-family: "\5b8b\4f53";
        cursor: pointer;
    }

    .product_list .p-scroll .ps-prev {
        left: 2px;
        top: 0;
    }

    .product_list .p-scroll .ps-next {
        left: 196px;
        top: 0;
    }

    .product_list .p-scroll .ps-next, .product_list .p-scroll .ps-prev {
        display: block;
    }

    .product_list .p-scroll .ps-next.disabled, .product_list .p-scroll .ps-prev.disabled {
        padding: 0;
        color: #ccc;
        cursor: default;
    }

    .product_list .p-scroll .ps-wrap {
        position: relative;
        overflow: hidden;
        width: 170px;
        height: 29px;
        overflow: hidden;
        zoom: 1;
    }

    .product_list .p-scroll ul {
        position: absolute;
        width: 306px;
    }

    .product_list .p-scroll li {
        float: left;
        width: 34px;
        height: 29px;
        text-align: left;
    }

    .product_list .p-scroll a {
        cursor: default;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 1px;
    }

    .product_list .p-scroll img {
        width: 25px;
        height: 25px;
    }

    .product_list .p-scroll a:hover, .product_list .p-scroll a.curr {
        padding: 0;
        border-width: 2px;
        border-color: #e4393c;
    }
    

 * {
    margin: 0;
    padding: 0
}

@-webkit-keyframes s-rbar-scaleDown {
    to {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes s-rbar-scaleDown {
    to {
        opacity: 1;
        -moz-transform: scale(1)
    }
}

@keyframes s-rbar-scaleDown {
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.s-rbar-plugin {
    opacity: 1;
    -webkit-transform: scale(0.8);
    opacity: 1;
    -moz-transform: scale(0.8);
    opacity: 1;
    transform: scale(0.8);
    -webkit-animation: s-rbar-scaleDown .7s ease both;
    -moz-animation: s-rbar-scaleDown .7s ease both;
    animation: s-rbar-scaleDown .7s ease both
}

@-webkit-keyframes mui-tab-tip {
    to {
        -webkit-transform: translateX(0px)
    }
}

@-moz-keyframes mui-tab-tip {
    to {
        -moz-transform: translateX(0px)
    }
}

@keyframes mui-tab-tip {
    to {
        transform: translateX(0px)
    }
}

.s-rbar-tab-tip {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px)
}

.s-rbar-tabnav:hover .s-rbar-tab-tip, .s-rbar-tab-hover .s-rbar-tab-tip {
    -webkit-animation: mui-tab-tip .5s ease both;
    -moz-animation: mui-tab-tip .5s ease both;
    animation: mui-tab-tip .5s ease both;
    border: none;
    text-decoration: none;
}

body, html {
    _overflow-x: hidden
}

.s-rbar-outer {
    position: fixed;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop));
    width: 37px;
    height: 100%;
    overflow: visible;
    top: 0;
    right: 0;
    _right: 0;
    z-index: 999999;
    background: transparent
}

.s-rbar {
    visibility: hidden;
    position: fixed;
    _position: absolute;
    width: 270px;
    top: 0;
    right: -270px;
    z-index: 999999;
    color: #fff;
    font-family: "Microsoft Yahei", "\5fae\8f6f\96c5\9ed1", "\5b8b\4f53";
    _overflow-y: hidden;
    height: 100%;
}

.s-rbar-tabs {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 37px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.s-rbar-tabs-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 100%;
    background-color: #000
}

.s-rbar-tabs-mask .on {
    background-color: #BD0000;
}

.s-rbar-plugins {
    position: absolute;
    top: 0;
    left: 37px;
    width: 230px;
    height: 100%;
    background-color: #666
}

.s-rbar-plugin {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;
    background-color: #323232;
    color: #fff
}

.s-rbar-plugin-hd {
    position: relative;
    height: 35px;
    color: #fff
}

.s-rbar-plugin-cart {
    width: 230px
}

.s-rbar-plugin-hd-tip {
    display: none;
    float: left;
    padding-left: 5px;
    height: 35px;
    line-height: 35px
}

.s-rbar-plugin-hd-title {
    font-family: SimSun;
    float: left;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #c7c7c7
}

.s-rbar-plugin-hd-title:hover {
    text-decoration: underline
}

.mui-plugin-bd {
    padding-left: 7px;
    position: relative;
}

.mui-plugin-bd img {
    border: none;
}

.mui-plugin-bd .empty {
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    color: #808080
}

.mui-plugin-bd .scrollbar {
    border-radius: 2px;
}

.mui-plugin-bd .brands {
    list-style: none;
    padding-bottom: 20px;
    position: absolute;
}

.s-rbar-arr {
    position: absolute;
    top: 10px;
    right: -8px;
    color: #494949;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "\5b8b\4f53"
}

.s-rbar-tab {
    position: relative;
    left: 0;
    width: 37px;
    height: 35px;
    background-color: #000;
    cursor: pointer;
    z-index: 9
}

.s-rbar-tabs-top-wide:hover, .s-rbar-tab:hover, .s-rbar-tab-hover {
    background: #c40000
}

.s-rbar-tab-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 35px;
    background: url(static/images/rbar_icon.png) no-repeat;
}

.s-rbar-tab-txt {
    position: absolute;
    left: 0;
    top: 32px;
    width: 29px;
    padding: 0 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 14px;
    display: none
}

.s-rbar-tab-order, .s-rbar-tab-cart, .s-rbar-tab-kefu {
    height: 35px
}

.s-rbar-tab-logo-order {
    background-position: 10px -119px
}

.s-rbar-tab-logo-brand {
    background-position: 6px -29px
}

.s-rbar-tab-logo-kefu {
    background-position: 6px -164px
}

.s-rbar-tab-logo-favor {
    background-position: 7px -218px
}

.s-rbar .s-rbar-tab-top, .s-rbar .s-rbar-tab-favor, .s-rbar .s-rbar-tab-share {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.s-rbar-tab-favor {
    bottom: 90px;
    _top: 500px;
}

.s-rbar-tab-share {
    bottom: 50px;
}

.s-rbar-tab-top {
    bottom: 10px;
    display: none;
}

.s-rbar-tab-logo-top {
    background-position: 7px -324px
}

.s-rbar-tab-logo-share {
    background-position: 8px -273px
}

.s-rbar-tab-logo-cart {
    background-position: 6px -77px;
}

.s-rbar-tab-tip {
    display: none;
    position: absolute;
    font-size: 12px;
    right: 47px;
    top: 0px;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #494949;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -webkit-transition: right .3s ease both;
    -moz-transition: right .3s ease both;
    transition: right .3s ease both;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.s-rbar-tabnav:hover .s-rbar-tab-tip, .s-rbar-tab-hover .s-rbar-tab-tip {
    display: block;
    right: 37px;
}

.s-rbar-tab-brand {
    height: 122px;
    margin-top: 23px;
}

.s-rbar-tab-brand .s-rbar-tab-txt {
    display: block;
    left: 8px;
    top: 40px;
    width: 20px;
    line-height: 16px;
    overflow: hidden;
    padding: 0
}

.s-rbar-tab-cart-nologin {
    height: 100px
}

.s-rbar-tab-cart .s-rbar-tab-txt {
    display: block;
    left: 7px;
    top: 40px;
    width: 20px;
    height: 50px;
    line-height: 16px;
    overflow: hidden;
    padding: 0
}

.s-rbar-tab-cart .s-rbar-tab-sup {
    display: none;
    top: 95px;
    right: 8px;
    text-align: center
}

.s-rbar-tab-cart .s-rbar-tab-sup-bg {
    border-radius: 10px;
    background-color: #c40000
}

.s-rbar-tab-cart .s-rbar-tab-sup-bd {
    *display: inline;
    padding: 0 3px;
    min-width: 14px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px
}

div .s-rbar-tab-nav {
    height: 30px
}

.s-rbar-tabs-top-wide {
    position: relative;
    width: 41px;
    height: 157px;
    background-color: #000;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    top: 0;
    left: -4px;
    cursor: pointer
}

.s-rbar-tabs-top-wide .s-rbar-tab-txt {
    width: 20px;
    display: block;
    font-size: 18px;
    line-height: 22px;
    top: 48px;
    left: 6px
}

.s-rbar-tabs-top-wide .s-rbar-tab-logo {
    background-position: 7px 14px
}

.s-rbarp-prof {
    position: absolute
}

.s-rbarp-prof-tip {
    position: absolute;
    top: -10px;
    right: 0;
    width: 260px;
    height: 275px;
    background: #fff;
    z-index: 999999;
    cursor: default;
    border: 1px solid #D1D1D1;
    border-right: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    -webkit-transform: translateZ(0);
    -webkit-user-select: none
}

.s-rbarp-prof-tip * {
    color: #666
}

.s-rbarp-prof-arr, .s-rbarp-prof-arr-login {
    position: absolute;
    top: 1px;
    right: -8px;
    color: #fff;
    z-index: 999999
}

.s-rbarp-prof-arr-login {
    color: #fafafa
}

.s-rbarp-prof-bd {
    position: absolute;
    left: 17px;
    color: #333
}

.s-rbarp-prof-hd {
    height: 17px;
    line-height: 17px;
    margin-right: 10px;
    text-align: right
}

.s-rbarp-prof-hd a {
    text-decoration: none
}

.s-rbarp-prof-hd a:hover {
    text-decoration: underline
}

.s-rbarp-prof-tip-login .j_minilogin_iframe {
    background: #fff
}

.s-rbar-prof-user-bubble-trangle {
    width: 0;
    height: 0;
    border-width: 12px 12px 12px 0;
    border-style: solid;
    border-color: transparent #c40000 transparent transparent;
    display: block;
    position: absolute;
    left: -12px;
    top: 0
}

.s-rbarp-prof-user-get {
    border-radius: 10px;
    background: #c40000;
    color: #fff;
    line-height: 24px;
    height: 24px;
    text-align: center;
    width: 96px;
    float: left;
    margin-top: 12px
}

.s-rbarp-prof-user {
    margin-bottom: 20px
}

.s-rbar-plugin-hot .mui-plugin-bd {
    position: relative;
    padding: 0 0 0px 7px;
}

#s-rbar-plugin-hot-bd {
    padding-bottom: 20px;
}

.s-rbar-plugin-hot .mui-plugin-bd img {
    vertical-align: top
}

.s-rbar-plugin-hot .mui-plugin-bd a {
    display: block;
    margin-top: 8px;
}

.s-rbar-plugin-hot .other_hd a {
    display: inline-block;
    width: 106px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #d0d0d0;
    background-color: #4c4c4c;
    margin-right: 3px;
    margin-top: 3px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.s-rbar-plugin-hot .other_hd a:hover {
    background-color: #323232;
    color: #FFF;
}

.s-rbarp-prof-user-wrap, .s-rbarp-prof-panels {
    width: 200px;
    padding: 0 7px;
    overflow: hidden
}

.s-rbarp-prof-tabs {
    height: 31px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden
}

.s-rbarp-prof-tabs-hide {
    visibility: hidden;
    height: 1px
}

.s-rbarp-prof-tabs .s-rbarp-prof-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    color: #fff;
    height: 29px;
    line-height: 31px;
    overflow: hidden;
    background: #494949;
    border-bottom: 2px solid #494949;
    text-align: center;
    cursor: pointer;
    width: 50%
}

.s-rbarp-prof-tabs .s-rbarp-prof-item-current {
    background: #666;
    border-color: #e12132
}

.s-rbarp-prof-panel {
    display: none
}

.s-rbarp-prof-panel-show {
    display: block
}

.s-rbarp-prof-space {
    height: 210px
}

.s-rbarp-prof-user {
    position: relative;
    height: 66px;
    padding: 20px 0 12px;
    border-bottom: 1px solid #3f3f3f;
    overflow: hidden;
    margin-bottom: 0
}

.s-rbarp-prof-user .s-rbarp-prof-badge {
    position: absolute;
    top: 5px;
    left: 60px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    background: #ea1d1d;
    border: 2px solid #2b2b2b;
    font-family: arial;
    font-size: 14px;
    z-index: 99
}

.s-rbarp-prof-user .s-rbarp-avatar {
    position: relative;
    float: left;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 100%;
    overflow: hidden
}

.s-rbarp-prof-user .s-rbarp-meta {
    margin-left: 60px;
    padding-top: 2px;
    color: #e2e2e2;
}

.s-rbarp-prof-user .s-rbarp-nick a {
    color: #e2e2e2;
    text-decoration: none;
}

.s-rbarp-prof-user .s-rbarp-level a {
    color: #fbd82b;
    text-decoration: none;
}

.s-rbarp-prof-user .s-rbarp-meta p {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.s-rbarp-prof-user .s-rbarp-meta .s-rbarp-level strong {
    color: #c40000
}

.s-rbarp-prof-user .s-rbarp-meta .s-rbarp-level span {
    float: left;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    background: #e12132;
    cursor: pointer;
    border-radius: 2px
}

.s-rbar-plugin-brands .mui-plugin-bd {
    padding: 7px 0 0 7px;
    overflow: hidden;
}

.s-rbar-plugin-brands .mui-plugin-bd li {
    margin-bottom: 20px;
}

.s-rbar-plugin-brands .mui-plugin-bd a {
    display: inline-block;
    width: 70px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 12px;
    background: #4c4c4c url(static/images/sr_brands.png) no-repeat;
    text-indent: -999em;
    text-align: center;
    text-decoration: none;
    margin: 0 2px 2px 0;
}

.s-rbar-plugin-brands .mui-plugin-bd .nike {
    background-position: -2px -2px
}

.s-rbar-plugin-brands .mui-plugin-bd .adidas {
    background-position: -76px 0px
}

.s-rbar-plugin-brands .mui-plugin-bd .syc {
    background-position: -147px 0px
}

.s-rbar-plugin-brands .mui-plugin-bd .neo {
    background-position: -4px -38px
}

.s-rbar-plugin-brands .mui-plugin-bd .nb {
    background-position: -76px -38px
}

.s-rbar-plugin-brands .mui-plugin-bd .converse {
    background-position: -147px -38px
}

.s-rbar-plugin-brands .mui-plugin-bd .puma {
    background-position: -2px -76px
}

.s-rbar-plugin-brands .mui-plugin-bd .skq {
    background-position: -76px -76px
}

.s-rbar-plugin-brands .mui-plugin-bd .reebok {
    background-position: -147px -76px
}

.s-rbar-plugin-brands .mui-plugin-bd .asics {
    background-position: -2px -114px
}

.s-rbar-plugin-brands .mui-plugin-bd .kappa {
    background-position: -76px -114px
}

.s-rbar-plugin-brands .mui-plugin-bd .anta {
    background-position: -147px -114px
}

.s-rbar-plugin-brands .mui-plugin-bd .lining {
    background-position: -2px -152px
}

.s-rbar-plugin-brands .mui-plugin-bd .vans {
    background-position: -76px -152px
}

.s-rbar-plugin-brands .mui-plugin-bd .tebu {
    background-position: -147px -152px
}

.s-rbar-plugin-brands .mui-plugin-bd .toread {
    background-position: -8px -190px
}

.s-rbar-plugin-brands .mui-plugin-bd .luotuo {
    background-position: -76px -193px
}

.s-rbar-plugin-brands .mui-plugin-bd .lantivy {
    background-position: -149px -193px
}

.s-rbar-plugin-brands .mui-plugin-bd .stsat {
    background-position: -2px -238px
}

.s-rbar-plugin-brands .mui-plugin-bd .fondberyl {
    background-position: -76px -238px
}

.s-rbar-plugin-brands .mui-plugin-bd .sixnine {
    background-position: -147px -238px
}

.s-rbar-plugin-brands .mui-plugin-bd .killah {
    background-position: -2px -276px
}

.s-rbar-plugin-brands .mui-plugin-bd .safiya {
    background-position: -76px -276px
}

.s-rbar-plugin-brands .mui-plugin-bd .aokang {
    background-position: -147px -276px
}

.s-rbar-plugin-brands .mui-plugin-bd .gzh {
    background-position: -76px -356px
}

.s-rbar-plugin-brands .mui-plugin-bd .nike_tong {
    background-position: -77px -315px
}

.s-rbar-plugin-brands .mui-plugin-bd .adidas_tong {
    background-position: -76px 0px
}

.s-rbar-plugin-brands .mui-plugin-bd .disney {
    background-position: -146px -315px
}

.s-rbar-plugin-brands .mui-plugin-bd .hellokitty {
    background-position: -2px -356px
}

.s-rbar-plugin-brands .mui-plugin-bd .discovery {
    background-position: -146px -356px
}

.s-rbar-plugin-brands .mui-plugin-bd .columbia {
    background-position: -16px -392px
}

.s-rbar-plugin-brands .mui-plugin-bd .dc {
    background-position: -90px -393px
}

.s-rbar-plugin-brands .mui-plugin-bd a:hover {
    text-indent: 0;
    background: #000;
}

.s-rbarp-order-wrap {
    position: relative;
    overflow: hidden
}

.s-rbarp-myorder {
    position: absolute;
    width: 212px;
    padding: 0px 0 20px;
}

.s-rbarp-order-wrap a {
    cursor: pointer;
    text-decoration: none
}

.s-rbarp-order-wrap a:hover {
    text-decoration: none
}

.s-rbarp-asset-coupon-title {
    padding: 7px 0;
    font-size: 12px
}

.s-rbarp-myorder .dd {
    padding-bottom: 10px;
}

.s-rbarp-myorder li {
    display: block;
    background-color: #FFF;
    height: 45px;
    padding: 8px 8px 0;
    font-family: Simsun;
    font-size: 12px
}

.s-rbarp-order-wrap .time {
    padding: 0 0 0 8px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #9e9e9e;
    background-color: #000;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.s-rbarp-myorder li a {
    display: block;
    border-bottom: 1px solid #e8e8e8;
    height: 36px;
    padding-bottom: 8px;
    overflow: hidden;
}

.s-rbarp-myorder li img {
    display: block;
    margin-right: 6px;
    float: left;
    border: 1px solid #eaeaea;
}

.s-rbarp-myorder li span {
    display: block;
    color: #757575;
    width: 150px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    float: left;
}

.s-rbarp-myorder .status {
    height: 21px;
}

.s-rbarp-myorder .status span {
    width: 98px;
    height: 20px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 16px;
    overflow: hidden;
    float: left;
}

.s-rbarp-myorder .status .fahuo {
    text-align: right;
    color: #c40000;
}

.s-rbarp-myorder .bottom {
    height: 21px;
}

.s-rbarp-myorder .bottom a {
    float: left;
    width: 98px;
    height: 20px;
    padding-bottom: 0;
    border-bottom: none;
    color: #3a3a3a;
}

.s-rbarp-myorder li a:hover {
    text-decoration: underline;
}

.s-rbarp-myorder .bottom .logistics {
    text-align: right;
}

.s-rbar-asset-more {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-indent: -15px;
    background-color: #494949;
    color: #fff
}

.s-rbar-asset-more b {
    bottom: 6px
}

.s-rbarp-asset-tips {
    position: relative;
    background: #e7e7e7;
    width: 198px;
    height: 24px;
    line-height: 24px;
    color: #c40000;
    text-align: center
}

.s-rbar-plugin-favor {
    position: relative;
}

.s-rbar-plugin-favor img {
    display: block;
    float: left;
    border: 2px solid #fafafa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle
}

.s-rbar-plugin-favor .s-rbar-plugin-hd {
    z-index: 99;
    background-color: #323232;
}

.s-rbar-plugin-favor .mui-plugin-bd {
    z-index: 9;
    padding: 0;
    font-family: Simsun;
    overflow-x: hidden
}

.s-rbarp-favor-detail {
    height: 100%;
    position: absolute;
    right: -235px;
    top: 0;
    width: 235px;
    background: #393939;
    z-index: 9999999
}

.s-rbarp-favor-list {
    position: relative;
    width: 230px;
    background-color: #fff;
    overflow: hidden
}

.s-rbarp-favor-list i {
    width: 104px;
    position: absolute;
    border-right: 2px solid #666;
    top: 0;
    bottom: 0
}

.s-rbarp-favor-item-list {
    position: absolute;
}

.s-rbarp-favor-item {
    display: block;
    width: 223px;
    padding: 7px 0 0 7px;
    border-top: 1px solid #000;
    position: relative;
    margin: 0
}

.s-rbarp-favor-item a {
    color: #757575;
    font-size: 12px;
    display: block;
    height: 87px;
    position: relative;
    overflow: hidden
}

.s-rbarp-favor-item a:hover {
    text-decoration: none
}

.s-rbarp-favor-button {
    position: absolute;
    width: 36px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    right: 6px;
    bottom: 12px;
    color: #fff;
    background-color: #B7B7B7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mui-favor-ljgm {
    background-color: #bd0000;
    width: 82px;
    right: 48px;
}

.mui-favor-yxj {
    background-color: #B7B7B7
}

.s-rbarp-favor-button:hover {
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity=80);
}

.s-rbarp-favor-item-hover .s-rbarp-favor-button {
    display: block
}

.s-rbarp-favor-item-info {
    float: left;
    padding-left: 5px;
    text-align: left;
    position: relative
}

.s-rbarp-favor-item-sale {
    z-index: 9;
    display: block;
    font-style: normal;
    font-size: 12px;
    width: 125px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
}

.mui-price-font {
    height: 18px;
    line-height: 18px;
    padding-top: 5px
}

.s-rbarp-favor-see-more {
    font-size: 12px;
    width: 215px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    bottom: 10px;
}

.s-rbar-plugin-favor .s-rbarp-favor-see-more {
    margin-left: 7px;
}

.s-mcGo {
    width: 210px;
}

.s-rbarp-favor-see-more a {
    color: #fff;
    display: block;
    padding-right: 25px;
    text-decoration: none;
    background: #c40000 url(static/images/rbar_icon.png) no-repeat 134px -376px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.s-mcGo a {
    background-position-x: 113px
}

.s-rbarp-favor-see-more a:hover {
    background-color: #ea0606
}

.s-rbar .s-rbar-plugin-cart a.s-mcCartBtn {
    font-size: 12px;
    line-height: 1.4;
    height: 16px;
    text-indent: 0;
    text-decoration: none;
    color: gray;
    width: 52px;
    margin: 8px 20px 0 0;
    padding: 0;
    background: none !important;
}

.s-rbar-plugin-cart .s-mCart {
    color: gray;
    height: 100%;
}

.s-rbar-plugin-cart .s-mcRoot {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
}

.s-rbar-plugin-cart .s-mcHandler {
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
    background-color: #e6e6e6
}

.s-rbar-plugin-cart .s-mcHandler .s-mcCartNumTotal, .s-rbar-plugin-cart .s-mcHandler .tm-e1 {
    display: none
}

.s-rbar-plugin-cart .s-mcApart {
    width: 100%;
    height: 31px;
    z-index: 99996;
    background-color: #e6e6e6;
    visibility: hidden;
    height: auto;
    position: absolute;
    top: -112px;
    left: 0
}

.s-rbar-plugin-cart .s-mcCashier-wrap {
    position: relative;
    padding: 0 10px;
    background-color: #e6e6e6;
    z-index: 3;
    color: #333
}

.s-rbar-plugin-cart .s-mcCashier {
    width: 210px;
    height: 40px;
    line-height: 40px;
    background-color: #c40000;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.s-rbar-plugin-cart .s-mcCashier:hover {
    background-color: #a91500
}

.s-rbar-plugin-cart strong.s-mcCheckedNum {
    font-weight: 400;
    margin-left: 4px;
    margin-right: 4px
}

.s-rbar-plugin-cart .s-mcTooManyChecked.s-mcCheckedShow .s-mcCheckedNum {
    color: #fff
}

.s-rbar-plugin-cart .s-mcTotal {
    width: 210px;
    height: 30px;
    line-height: 30px;
    background-color: #e6e6e6;
    padding: 0;
    color: #333;
    overflow: hidden
}

.s-rbar-plugin-cart .s-mcHandler h3 {
    float: left;
    width: 100px;
    height: 30px;
    color: #000;
    font-size: 12px;
    font-weight: 400
}

.s-rbar-plugin-cart .s-mcRmb {
    font-family: arial;
    color: #c40000
}

.s-rbar-plugin-cart .s-mcTotal .s-mcTotalFeeWrap {
    float: left;
    width: 110px;
    height: 30px;
    text-align: right
}

.s-rbar-plugin-cart .s-mcTotal .s-mcTotalFee {
    margin-left: 3px;
    font-weight: 400;
    color: #c40000
}

.s-rbar-plugin-cart .s-mcCashier .s-mcGo {
    position: relative;
    margin-top: 0;
    width: 70px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-family: STHeiti, "microsoft yahei" simsun arial;
    color: #fff;
    font-size: 14px
}

.s-rbar-plugin-cart .s-mcListBox {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.s-rbar-plugin-cart .s-mcListInner {
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: hidden
}

.s-rbar-plugin-cart .s-mcList {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 28px;
    background-color: #e6e6e6
}

.s-rbar-plugin-cart .s-mcBundle {
    cursor: default;
    overflow: hidden;
    margin-top: 16px;
    _margin-top: 0;
    background-color: #fff
}

.s-rbar-plugin-cart .s-mcMainOne {
    overflow: hidden;
    position: relative;
}

.s-rbar-plugin-cart .s-mcMainList {
    position: absolute;
    top: 0;
    left: 0
}

.s-rbar-plugin-cart .s-mcBundle td {
    vertical-align: middle
}

.s-rbar-plugin-cart .s-mcBottom {
    background-color: #e6e6e6
}

.s-rbar-plugin-cart .s-mcChk, .s-rbar-plugin-cart .s-mcItem {
    float: left;
    overflow: hidden;
    white-space: nowrap
}

.s-rbar-plugin-cart .s-mcItem {
    width: 85px;
    padding: 10px 5px 10px 10px
}

.s-rbar-plugin-cart .s-mcSku {
    padding: 10px 2px 0 0
}

.s-rbar-plugin-cart .s-mcCost {
    position: relative;
}

.s-rbar-plugin-cart .s-mcOrder {
    background-color: #f6f6f6;
    position: relative;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    margin-left: -8px;
    padding-left: 8px;
    border-bottom: 1px solid #E6E6E6;
}

.s-rbar-plugin-cart .s-mcOrderSelected {
    background: #fff;
    margin-left: 0;
    padding-left: 0
}

.s-rbar-plugin-cart .s-mcOrderService {
    border-bottom: 0
}

.s-rbar-plugin-cart .s-mcOrder .s-mcPic {
    display: block;
    width: 83px;
    height: 75px;
    border: 1px solid #fafafa;
    overflow: hidden
}

.s-rbar-plugin-cart .s-mcOrder .s-mcItem img {
    vertical-align: top
}

.s-rbar-plugin-cart .s-mcOrder .s-mcRt {
    float: left;
    width: 125px;
    font-size: 12px;
}

.s-rbar-plugin-cart .s-mcOrder .s-mcSku {
    text-align: left;
    color: #999
}

.s-rbar-plugin-cart .s-mcOrder .s-mcSku p {
    width: 100%;
    height: 32px;
    line-height: 16px;
    overflow: hidden
}

.s-rbar-plugin-cart .s-mcOrder .s-mcQuantity, .s-rbar-plugin-cart .s-mcOrder .s-mcMinus, .s-rbar-plugin-cart .s-mcOrder .s-mcPlus {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    height: 14px;
    line-height: 14px;
    margin-top: 5px
}

.s-rbar-plugin-cart .s-mcOrder .s-mcMinus, .s-rbar-plugin-cart .s-mcOrder .s-mcPlus {
    width: 14px;
    border-radius: 14px;
    border: 1px solid #bfbfbf;
    position: relative;
    cursor: pointer;
    visibility: hidden
}

.s-rbar-plugin-cart .s-mcOrder .s-mcAmount b, .s-rbar-plugin-cart .s-mcOrder .s-mcAmount s {
    position: absolute;
    overflow: hidden;
    background: #bfbfbf
}

.s-rbar-plugin-cart .s-mcOrder .s-mcAmount s {
    width: 8px;
    height: 2px;
    top: 6px;
    left: 3px
}

.s-rbar-plugin-cart .s-mcOrder .s-mcAmount b {
    width: 2px;
    height: 8px;
    top: 3px;
    left: 6px
}

.s-rbar-plugin-cart .s-mcOrder .s-mcDel {
    position: absolute;
    width: 34px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    background: #b7b7b7;
    color: #FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.s-rbar-plugin-cart .s-mcOrder .s-mcDel:hover {
    background: #888;
}

.s-rbar-plugin-cart .s-mcOrder .s-mcMinus:hover, .s-rbar-plugin-cart .s-mcOrder .s-mcPlus:hover {
    background: #bfbfbf
}

.s-rbar-plugin-cart .s-mcOrder .s-mcMinus:hover s, .s-rbar-plugin-cart .s-mcOrder .s-mcPlus:hover b, .s-rbar-plugin-cart .s-mcOrder .s-mcPlus:hover s {
    background: #fff
}

.s-rbar-plugin-cart .s-mcOrder .s-mcMinusOff s, .s-rbar-plugin-cart .s-mcOrder .s-mcPlusOff b, .s-rbar-plugin-cart .s-mcOrder .s-mcPlusOff s, .s-rbar-plugin-cart .s-mcOrder .s-mcMinusOff:hover s, .s-rbar-plugin-cart .s-mcOrder .s-mcPlusOff:hover b, .s-rbar-plugin-cart .s-mcOrder .s-mcPlusOff:hover s {
    background: #e6e6e6
}

.s-rbar-plugin-cart .s-mcOrderActive .s-mcPlus, .s-rbar-plugin-cart .s-mcOrderActive .s-mcMinus {
    visibility: visible;
    background: #f3f3f3
}

.s-rbar-plugin-cart .s-mcOrderActive .s-mcPlusOff, .s-rbar-plugin-cart .s-mcOrderActive .s-mcMinusOff, .s-rbar-plugin-cart .s-mcOrderActive .s-mcMinusOff:hover, .s-rbar-plugin-cart .s-mcOrderActive .s-mcPlusOff:hover {
    background: #fff;
    cursor: default;
    border-color: #e6e6e6
}

.s-rbar-plugin-cart .s-mcOrderActive .s-mcDel {
    display: block
}

.s-rbar-plugin-cart .s-mcOrder .s-mcQuantity {
    padding: 0 4px;
    color: #999
}

.s-rbar-plugin-cart .s-mcOrder .s-mcPrice {
    font-weight: 400;
    color: #666;
    display: block;
    height: 18px;
    line-height: 18px;
    padding-top: 5px;
}

.s-rbar-plugin-cart .s-mcTop {
    width: 222px;
    height: 28px;
    line-height: 28px;
    margin-top: -28px;
    padding-left: 8px;
    background-color: #e6e6e6;
    cursor: default;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0
}

.s-rbar-plugin-cart .s-mcTop .s-mcChk {
    padding-top: 0
}

.s-rbar-plugin-cart .s-mcTop label {
    float: left
}

.s-rbar-plugin-cart .s-mcCartBtn {
    float: right;
    padding-right: 42px;
    text-align: right;
    overflow: hidden
}

.s-mcWeaken .s-mcTop .s-mcCartBtn {
    text-indent: 99em;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-top: 8px;
    margin-right: 20px
}

.s-rbar-plugin-cart .s-mcBottomMain {
    padding: 8px 15px 5px;
    line-height: 21px;
    overflow: hidden;
    zoom: 1
}

.s-rbar-plugin-cart .s-mcOrder .s-mcPic {
    position: relative
}

.s-rbar-plugin-cart {
    background-color: #e6e6e6
}

.s-rbar-plugin-cart .s-rbar-plugin-hd {
    display: none
}

.s-rbar-plugin-cart .s-rbarp-cart-wrap {
    height: 100%;
    background-color: #e6e6e6
}

.s-rbar-plugin-cart .mui-plugin-bd {
    height: 100%;
    padding: 0;
    background-color: #e6e6e6
}

.s-rbarp-cart-bd {
    background-color: #e6e6e6
}

.s-rbarp-tab-cart-border {
    position: absolute;
    top: -5px;
    left: 5px;
    height: 33px;
    width: 25px;
    border-top: 1px solid #676767;
}

/*分享样式*/
.shareArea {
    position: absolute;
    width: 191px;
    height: auto;
    padding-top: 3px;
}

.shareArea .ul {
    display: block;
    padding-left: 5px;
    overflow: hidden;
}

.shareArea a {
    float: left;
    margin: 3px 5px 3px 0;
    padding: 3px;
    width: 78px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    border: solid 1px #464646;
    color: #FFF;
    list-style: none;
}

.shareArea a:hover {
    box-shadow: 0 0 1px rgba(102, 102, 102, .9);
    border-radius: 2px;
    border-color: #363636;
    color: #fff;
}

.shareArea a span {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    background: url(static/images/share_icon.gif);
}

.shareArea .iconWeixin {
    background-position: 0 -224px;
}

.shareArea .iconWeibo {
    background-position: 0 0;
}

.shareArea .iconQQ {
    background-position: 0 -16px;
    float: right;
}

.shareArea .iconRenren {
    background-position: 0 -48px;
}

.shareArea a .jText {
    float: left;
    margin-left: 5px;
    font-style: normal;
    font-size: 12px
}








#midde_qq_Server_p {
    position: absolute;
    top: -64px;
    right: 40px;
    padding-right: 1px;
    z-index: 1105;
}

#midde_qq_Server_p i, .iconDivMain #myinfo_p i {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left-color: #333;
    border-right: 0;
    position: absolute;
    right: 0;
    z-index: 5
}

#midde_qq_Server_p .con {
    width: 209px;
    height: 140px;
    background-image: url(static/images/msg_01.png)
}

#midde_qq_Server_p .con .qq {
    width: 150px;
    height: 120px;
}

#qq-close {
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: 10px;
    top: -2px;
    width: 30px;
    z-index: 1106;
}

.font_1 {
    font-family: 宋体;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}

.font_2 {
    font-family: 宋体;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

.font_3 {
    font-family: 宋体;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #FF9900;
}

.foot .row03 {
    width: 640px
}

.foot .row03 span a, .foot .row03 span a:hover {
    margin: 0;
    border: 0;
    width: auto
} 








.userfloat_leftNav {
    width: 94px;
    background: #fff;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    bottom: 218px;
    left: 50%;
    margin-left: -609px;
    _top: expression(eval(document.documentElement.scrollTop+170));
    z-index: 9999
}

.userfloat_leftNav span, .userfloat_leftNav a {
    font-size: 13px;
    text-decoration: none;
    display: block;
    height: 29px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: -1px;
    line-height: 29px;
    padding-left: 4px;
    color: #000;
    overflow: hidden
}

.userfloat_leftNav span {
    background-color: #600;
    color: #000;
    text-align: center;
    padding: 0;
    height: 22px;
    line-height: 22px;
}

.userfloat_leftNav a:hover {
    background: #f32264;
    color: #fff;
    text-decoration: none;
} 







.footbrand {
    width: 990px;
    background: #fff;
    overflow: hidden;
    padding-bottom: 1px;
    margin: 0 auto;
    height: 142px
}

.footbrand a {
    border: 1px solid #DFDFDF;
    display: block;
    float: left;
    height: 70px;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    position: relative;
    text-indent: -999px;
    width: 98px;
    background: url(static/images/default_brandwall_bg11.png) no-repeat 0 0
}

.footbrand a span {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    cursor: pointer
}

.footbrand a:hover span {
    background: #000;
    opacity: 0.1;
    filter: alpha(opacity=10);
    visibility: visible
}

.footbrand a.last {
    width: 97px;
}

.footbrand a.nike {
    background-position: 21px -176px;
}

.footbrand a.adidas {
    background-position: -106px -176px;
}

.footbrand a.syc {
    background-position: -715px -333px;
}

.footbrand a.neo {
    background-position: -838px -333px;
}

.footbrand a.nb {
    background-position: -590px -176px;
}

.footbrand a.converse {
    background-position: -596px -10px;
}

.footbrand a.skq {
    background-position: -591px -258px;
}

.footbrand a.puma {
    background-position: -835px -176px;
}

.footbrand a.reebok {
    background-position: -719px -10px;
}

.footbrand a.asics {
    background-position: -467px -331px;
}

.footbrand a.kappa {
    background-position: -715px -176px;
}

.footbrand a.xtep {
    background-position: 20px -332px;
}

.footbrand a.anta {
    background-position: -347px -176px;
}

.footbrand a.lining {
    background-position: -230px -176px;
}

.footbrand a.vans {
    background-position: -105px -256px;
}

.footbrand a.troead {
    background-position: -593px -332px;
}

.footbrand a.luotuo {
    background-position: -835px -256px;
}

.footbrand a.skomart {
    background-position: -715px -99px;
}

.footbrand a.timberland {
    background-position: -350px -331px;
}

.footbrand a.aokang {
    background-position: -230px -334px;
}

.footbrand a.lantivy {
    background-position: -829px -411px;
}

.footbrand a.stsat {
    background-position: -106px -100px;
}

.footbrand a.levis {
    background-position: 22px -412px;
}

.footbrand a.gzh {
    background-position: 28px -491px;
}

.footbrand a.nike_tx {
    background-position: -229px -491px;
}

.footbrand a.adidas_tx {
    background-position: -350px -491px;
}

.footbrand a.skq_tx {
    background-position: -105px -564px
}

.footbrand a.puma_tx {
    background-position: 15px -564px
}

.footbrand a.disney {
    background-position: -223px -564px
}

.footbrand a.hellokitty {
    background-position: -480px -491px;
}

.footbrand a.dc {
    background-position: -595px -491px;
}

.footbrand a.umbro {
    background-position: -718px -486px;
}

.btmfenlei_hd {
    height: 36px;
    width: 990px;
    margin: 0 auto 28px;
    clear: both;
    border-bottom: 1px solid #ccc;
    position: relative
}

.btmfenlei_hd h3 {
    font-size: 18px;
    font-family: microsoft yahei;
    position: absolute;
    left: 50%;
    margin: 12px 0 0 -60px;
    background: #fff;
    padding: 10px 20px;
    font-weight: 100;
}

.btmfenlei_body {
    width: 990px;
    margin: 0 auto 15px;
    font-family: microsoft yahei;
    overflow: hidden
}

.btmfenlei_body dl {
    width: 245px;
    float: left;
    padding-right: 2px
}

.btmfenlei_body dt {
    text-align: center
}

.btmfenlei_body dt s {
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none
}

.btmfenlei_body dt a {
    color: #222;
    text-decoration: none
}

.btmfenlei_body dd {
    border-right: 1px dotted #ccc;
    height: 85px;
    overflow: hidden;
    padding: 0 10px 0 15px
}

.btmfenlei_body dd a {
    color: #555;
    display: block;
    float: left;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 54px;
    font-size: 12px;
    text-decoration: none
}

.btmfenlei_body a:hover {
    color: #c00;
    text-decoration: underline
} 