body {
        width: 100%;
        _position: relative;
        overflow-x: hidden
    }

    .tnav_pop {
        border: 1px solid #ddd;
        width: 607px;
        padding: 15px;
        background: #fff;
        box-shadow: 0 0 3px #ccc;
        position: absolute;
        visibility: hidden;
        z-index: -9
    }

    .tnav_pop .l_side {
        width: 180px;
        padding-right: 8px;
        border-right: 1px solid #F1F1F1;
        float: left;
    }

    .tnav_pop .r_side {
        width: 410px;
        padding-left: 8px;
        float: left;
    }

    .tnav_pop .msp {
        height: 10px;
        margin-bottom: 15px;
        border-bottom: 1px dotted #999;
        clear: both;
        overflow: hidden
    }

    .tnav_pop h3 {
        font-size: 14px;
        display: block;
        color: #c00;
        padding-bottom: 6px;
        text-align: left;
        margin: 0
    }

    .tnav_pop p {
        font-size: 12px;
        color: #ccc;
        line-height: 22px;
        text-align: left
    }

    .tnav_pop p i {
        font-style: normal;
        background: #999;
        line-height: 22px;
        margin-right: 8px;
        padding: 2px 3px;
        color: #fff;
        border-radius: 4px
    }

    .tnav_pop p a {
        color: #666;
        text-decoration: none;
        margin: 0 3px;
        white-space: nowrap
    }

    .tnav_pop p a:hover {
        color: #c00
    }

    .tnav_pop .brands a, .catlis .brands a {
        width: 55px;
        height: 30px;
        float: left;
        margin: 0 3px 3px 0
    }

    .tnav_pop .brands a:hover, .catlis .brands a:hover {
        width: 53px;
        height: 28px;
        border: 1px solid #ccc;
        overflow: hidden
    }

    /*左侧分类导航*/
    .category-menu-nav {
        position: absolute;
        visibility: hidden;
        z-index: -9;
        width: 190px;
    }

    .category-menu-nav .menu-title {
        position: absolute;
        top: -33px;
        left: 0;
        width: 190px;
        height: 33px;
        line-height: 33px;
        background: #c40000;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-align: center
    }

    .category-menu-nav .menu-nav-container {
        width: 190px;
        background-color: #1e1908
    }

    .category-menu-nav .menu-nav-container li {
        position: relative;
        height: 43px;
        line-height: 43px;
        *background: #2d2d2d;
        color: #fff
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 33px;
        margin-right: 5px;
        text-align: right;
        text-decoration: none;
        font-size: 16px;
        -webkit-transition: width .2s linear, background .2s linear;
        -moz-transition: width .2s linear, background .2s linear;
        -o-transition: width .2s linear, background .2s linear;
        transition: width .2s linear, background .2s linear;
        background: url(static/images/navcats_icon.png) no-repeat 12px -422px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon2 {
        background-position: 10px -48px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon3 {
        background-position: 10px -92px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon4 {
        background-position: 10px -136px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon5 {
        background-position: 10px -187px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon6 {
        background-position: 10px -233px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon7 {
        background-position: 10px -280px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon8 {
        background-position: 10px -330px
    }

    .category-menu-nav .menu-nav-container .menu-nav-icon9 {
        background-position: 10px -462px
    }

    .category-menu-nav .menu-nav-container .menu-nav-trigger {
        display: none
    }

    .category-menu-nav .menu-nav-container .menu-nav-arrow {
        position: absolute;
        top: 20px;
        right: 10px;
        display: none;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-style: solid;
        border-width: 4px 4px 0;
        border-color: #fff transparent;
        _border-color: #fff #454442
    }

    .category-menu-nav .menu-nav-container a {
        color: #fff
    }

    .category-menu-nav .menu-nav-container a:hover {
        color: #fff
    }

    .category-menu-nav .menu-nav:hover .menu-nav-arrow {
        display: block
    }

    .category-menu-nav .menu-nav:hover {
        background: #a90000
    }

    .category-menu-nav .menu-nav:hover .menu-nav-icon {
        width: 36px;
        background-position-x: 14px;
    }

    .category-menu-nav .menu-nav:hover .menu-nav-arrow {
        -webkit-transition: -webkit-transform .2s linear;
        -moz-transition: -moz-transform .2s linear;
        -o-transition: -o-transform .2s linear;
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        top: 10px \9;
        right: 12px \9;
        border-width: 4px 0 4px 4px \9;
        border-color: transparent #fff transparent white \9;
        _display: none
    }

    .category-menu-nav .menu-nav-container .menu-nav-market {
        height: 41px;
        line-height: 41px;
    }

    .category-menu-nav .menu-nav-market .menu-nav-arrow {
        display: none
    }

    .category-menu-nav .menu-nav-market .market-nav-arrow {
        display: none;
        position: absolute;
        right: -1px;
        top: 14px;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-style: solid;
        border-width: 7px 7px 7px 0;
        border-color: transparent #f3f3f3;
        _border-color: #454442 #f3f3f3
    }

    .category-menu-nav .menu-nav:hover .market-nav-arrow {
        display: block;
        _display: none
    }

    /*左侧分类导航弹出*/
    .category-menu-pannel {
        height: 385px;
        width: 320px;
        position: absolute;
        visibility: hidden;
        z-index: -9
    }

    .category-sub-pannel {
        height: 385px;
        overflow: hidden;
        z-index: 5;
        background: #fbfbfb;
        -webkit-box-shadow: 1px 0 2px #978d8d inset;
        -moz-box-shadow: 1px 0 2px #978d8d inset;
        box-shadow: 1px 0 2px #978d8d inset;
        opacity: .95;
        filter: alpha(opacity=95)
    }

    .category-sub-pannel .sub-pannel-ctn {
        overflow: hidden;
        width: 280px;
        margin: 0 20px
    }

    .category-sub-pannel .category-title {
        position: relative;
        height: 20px;
        width: auto;
        margin: 25px auto 0;
        border-bottom: 1px solid #000
    }

    .category-sub-pannel .category-title a {
        color: #000;
        font-family: 'Microsoft YaHei';
        position: absolute;
        left: 0;
        bottom: 0;
        background: url(static/images/lf_pop_icon.png) no-repeat;
        display: block;
        width: 90px;
        height: 20px;
        line-height: 20px;
        padding-top: 17px;
        padding-left: 45px;
        text-decoration: none;
        font-weight: 700;
        text-align: left;
        -webkit-transition: left .3s linear;
        -moz-transition: left .3s linear;
        -o-transition: left .3s linear;
        transition: left .3s linear
    }

    .category-sub-pannel .category-title a:hover {
        left: 5px
    }

    .category-sub-pannel .category-title .category-more {
        position: absolute;
        top: 0;
        right: 0;
        background: 0 0;
        width: 30px;
        padding: 0;
        left: auto;
        font-size: 12px;
        color: #666
    }

    .category-sub-pannel .category-title .category-more:hover {
        left: auto
    }

    .category-sub-pannel .category-label-list {
        *zoom: 1;
        width: auto;
        margin: 10px 0 0 -1px;
        overflow: hidden
    }

    .category-sub-pannel .category-label-list:before, .category-sub-pannel .category-label-list:after {
        display: table;
        content: "";
        line-height: 0
    }

    .category-sub-pannel .category-label-list:after {
        clear: both
    }

    .category-sub-pannel .category-label-list a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        float: left;
        white-space: nowrap;
        *background: 0 0;
        *border-left: 1px solid #888;
        padding: 0 8px;
        margin-top: 5px;
        color: #888
    }

    .category-sub-pannel .category-label-list a:hover {
        color: #eeaebc
    }

    .category-sub-pannel .category-label-list .highlight {
        color: #eeaebc
    }

    .category-sub-pannel .label-list-2line {
        height: 46px
    }

    .category-sub-pannel .label-list-3line {
        height: 69px
    }

    .category-sub-pannel .label-list-4line {
        height: 92px
    }

    .category-sub-pannel .category-pannel-line {
        display: block;
        height: 0;
        line-height: 0;
        font-size: 0;
        margin: 12px 10px 10px;
        border-bottom: 1px dotted #cdcdcd
    }

    .market-sub-pannel {
        width: 150px
    }

    .market-sub-pannel a {
        text-decoration: none
    }

    .market-sub-pannel .market-list {
        margin: 9px auto;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Microsoft YaHei'
    }

    .market-sub-pannel .market-list a {
        float: none;
        display: inline-block;
        text-align: center;
        width: 50px;
        color: #363636;
        border-bottom: 1px solid #e5e5e5;
        border-left: 0;
        padding: 0;
        margin-top: 0;
        height: 38px;
        line-height: 38px;
        background: 0 0
    }

    .market-sub-pannel .market-list a:hover {
        color: #363636
    }

    .market-sub-pannel-opt2 {
        width: 90px;
        opacity: .8;
        filter: alpha(opacity=80);
        -webkit-box-shadow: 1px 0 5px #ccc;
        -moz-box-shadow: 1px 0 5px #ccc;
        box-shadow: 1px 0 5px #ccc
    }

    .market-sub-pannel-opt2 .market-list {
        margin: 6px 0
    }

    .market-sub-pannel-opt2 .market-list a {
        display: block;
        position: relative;
        margin: 0 auto;
        border-bottom: 1px dotted #D5D5D5
    }

    .category-menu-pannel .category-label-list .highlight {
        background: none
    }

    .category-menu-pannel .category-nobg a {
        background: none;
        padding-left: 0px
    }

    .category-1-pannel .category-ydnx a {
        background-position: -23px -24px
    }

    .category-1-pannel .category-nvx a {
        background-position: -22px -71px
    }

    .category-1-pannel .category-label-list a:hover {
        color: #d01f47
    }

    .category-1-pannel .category-label-list .highlight {
        color: #d01f47
    }

    .category-2-pannel .category-nzydf a {
        background-position: -23px -118px
    }

    .category-2-pannel .category-nvzydf a {
        background-position: -23px -165px
    }

    .category-2-pannel .category-label-list a:hover {
        color: #1291cf
    }

    .category-2-pannel .category-label-list .highlight {
        color: #1291cf
    }

    .category-3-pannel .category-nzpb a {
        background-position: -23px -212px
    }

    .category-3-pannel .category-nvzpb a {
        background-position: -23px -258px
    }

    .category-3-pannel .category-label-list a:hover {
        color: #8b478b
    }

    .category-3-pannel .category-label-list .highlight {
        color: #8b478b
    }

    .category-4-pannel .category-lanqiu a {
        background-position: -22px -308px
    }

    .category-4-pannel .category-label-list a:hover {
        color: #d8468d
    }

    .category-4-pannel .category-label-list .highlight {
        color: #d8468d
    }

    .category-5-pannel .category-zuqiu a {
        background-position: -22px -353px
    }

    .category-5-pannel .category-label-list a:hover {
        color: #2062d3
    }

    .category-5-pannel .category-label-list .highlight {
        color: #2062d3
    }

    .category-6-pannel .category-peijian a {
        background-position: -23px -402px
    }

    .category-6-pannel .category-label-list a:hover {
        color: #df3f4e
    }

    .category-6-pannel .category-label-list .highlight {
        color: #df3f4e
    }

    .category-7-pannel .category-hwx a {
        background-position: -20px -446px
    }

    .category-7-pannel .category-hwf a {
        background-position: -20px -495px
    }

    .category-7-pannel .category-hwp a {
        background-position: -20px -638px
    }

    .category-7-pannel .category-label-list a:hover {
        color: #f56a00
    }

    .category-7-pannel .category-label-list .highlight {
        color: #f56a00
    }

    .category-8-pannel .category-nx a {
        background-position: -20px -540px
    }

    .category-8-pannel .category-nvx a {
        background-position: -20px -585px
    }

    .category-8-pannel .category-label-list a:hover {
        color: #2262d3
    }

    .category-8-pannel .category-label-list .highlight {
        color: #2262d3
    }

    .category-9-pannel .category-ntx a {
        background-position: -20px -718px
    }

    .category-9-pannel .category-nvtx a {
        background-position: -20px -678px
    }

    .category-9-pannel .category-label-list a:hover {
        color: #e85298
    }

    .category-9-pannel .category-label-list .highlight {
        color: #e85298
    }

    /*151111下拉*/
    .wnav_pop {
        width: 668px;
        text-align: left;
        font-family: Microsoft Yahei;
        background: #fff;
        box-shadow: 0 0 3px #CCCCCC;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        z-index: -9
    }

    .wnav_pop .lv15_cats {
        padding: 8px 0 13px;
    }

    .wnav_pop li {
        display: block;
        float: left;
        width: 140px;
        padding-left: 22px
    }

    .wnav_pop li h4 {
        font-size: 18px;
        display: block;
        padding-bottom: 7px;
        height: 24px;
        line-height: 24px;
        color: #2a2a2a;
        margin: 0;
    }

    .wnav_pop li a {
        display: inline-block;
        position: relative;
        font-size: 12px;
        line-height: 24px;
        outline: none;
        color: #555555;
        vertical-align: bottom;
        text-decoration: none;
        white-space: nowrap;
    }

    .wnav_pop li a:hover {
        color: #c80000;
    }

    .wnav_pop .brands {
        width: 255px;
        background-color: #fff;
    }

    .wnav_pop .brands h3 {
        font-size: 12px;
        color: #a5a5a5;
        font-weight: normal;
        height: 22px;
        line-height: 22px
    }

    .wnav_pop .brands a {
        float: left;
        height: 35px;
        margin: 0 3px 3px 0;
        width: 69px;
    }

    .wnav_pop .brands a:hover {
        border: 1px solid #CCCCCC;
        height: 33px;
        overflow: hidden;
        width: 67px;
    }

    .floor_duanma {
        border: 1px solid #eaeaea;
        padding: 5px;
        overflow: hidden
    }

    .floor_duanma .lf {
        float: left;
        width: 390px;
    }

    .floor_duanma .lf .dm {
        padding: 10px 0 10px 8px;
    }

    .floor_duanma .lf .dm .tit {
        font-weight: 700;
        padding-bottom: 8px;
        border: none;
        background: none;
    }

    .floor_duanma .lf .dm .tit span {
        font-weight: 100;
        padding-left: 8px;
        color: #999
    }

    .floor_duanma .lf .dm .cm a {
        background: #dadad3;
        color: #555;
        display: inline-block;
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
        margin: 0 5px 4px 0;
        padding: 0 4px;
        text-decoration: none
    }

    .floor_duanma .lf .dm .cm a:hover {
        background: #c00;
        color: #fff
    }

    .floor_duanma .rt {
        float: left;
        margin: -10px -20px 0 0;
        padding-left: 10px;
        width: 590px;
        overflow: hidden
    }

    /*圣诞gif*/
    .head .logo {
        position: relative;
    }

    .head .logo i {
        display: block;
        width: 184px;
        height: 73px;
        background: url(static/images/141224xmas.gif) no-repeat;
        position: absolute;
        top: 0;
        right: -22px;
    }

    .nav_head .navbox li.subnav .sport {
        display: block;
        position: absolute;
        left: -36px;
        top: -20px;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 2;
    }

    .nav_head .sjwd {
        display: block;
        float: left;
        width: 165px;
        height: 34px;
    }

    .nav_head li .sjwd a, .nav_head li .sjwd a:hover {
        display: block;
        float: left;
        width: 165px;
        height: 34px;
        line-height: 34px;
        background: url(static/images/wx.gif) no-repeat 0 0px;
    }

    .nav_head li .sjwd img {
        display: none;
    }

    .nav_head li .sjwd a:hover {
        padding: 0;
        margin-left: 0
    }

    .nav_head li .sjwd a:hover img {
        display: block;
        position: absolute;
        top: 34px;
        left: 0px;
    } 
    

.n_select dl.moreSelected {
        background: #f5f5f5
    }

    .n_select dl .more_open {
        position: absolute;
        top: 11px;
        right: 58px;
        color: #666;
        line-height: 16px;
        padding: 0 5px 0 20px;
        background: #eee url("static/images/list_icon.png") no-repeat 5px -364px;
        border: 1px solid #ddd;
        cursor: pointer
    }

    .n_select dl .more_open_act {
        text-align: center;
        padding: 10px;
        clear: both;
        width: 50%;
        margin: 0 auto
    }

    .n_select dl .more_open_act i {
        display: inline-block;
        margin: 0 6px;
        line-height: 22px;
        height: 22px;
        padding: 0 10px;
        border-radius: 2px;
        cursor: pointer
    }

    .n_select dl .more_open_act i.more_nosub {
        border: 1px solid #ccc;
        background: #f2f2f2;
        color: #c5c5c5;
        cursor: default
    }

    .n_select dl .more_open_act i.more_sub {
        border: 1px solid #a00;
        background: #c00;
        color: #fff;
    }

    .n_select dl .more_open_act i.more_close {
        border: 1px solid #ccc;
        background: url(static/images/head_cart_bg.gif) no-repeat -50px -2px;
        color: #666
    }

    .n_select dl a.more_chose, .n_select dl#color_dl dd a.color_more_chose {
        border: 1px solid #999;
        border-radius: 2px;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        margin: -2px 0 0 -2px;
        padding: 2px 19px 2px 4px
    }

    .n_select dl#color_dl dd a.color_more_chose {
        padding: 0;
        margin: -1px
    }

    .n_select dl#brand_dl a.brand_more_chose {
        border: 1px solid #999;
        height: 30px;
        width: 55px;
        position: relative
    }

    .n_select dl a.more_chose i, .n_select dl#brand_dl a.brand_more_chose i, .n_select dl#color_dl dd a.color_more_chose i {
        display: block;
        position: absolute;
        right: 2px;
        top: 3px;
        height: 13px;
        width: 13px;
        overflow: hidden;
        background: #666 url("static/images/list_icon.png") no-repeat 0 -43px;
        text-indent: -99px
    }

    .n_select dl a.more_chose:hover, .n_select dl#brand_dl a.brand_more_chose:hover, .n_select dl#color_dl dd a.color_more_chose:hover {
        border-color: #c00;
        text-decoration: none
    }

    .n_select dl a.more_chose:hover i, .n_select dl#brand_dl a.brand_more_chose:hover i, .n_select dl#color_dl dd a.color_more_chose:hover i {
        background-color: #c00;
        transform: rotate(90deg);
        transition: transform .2s ease;
        -moz-transform: rotate(90deg);
        -moz-transition: -moz-transform .2s ease
    } 
    
.product_list p.yjyp {
        position: absolute;
        left: 2px;
        top: 134px;
        width: 170px;
        background: #c33;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-family: microsoft yahei
    }

    .product_fz_new p.yjyp {
        top: 196px;
        width: 216px
    }

    .product_fz_new .cur p.yjyp {
        top: 193px;
        left: -1px
    }

    .product_fz_new dl {
        width: 220px;
        margin: 20px 11px 10px;
        _margin: 20px 9px 10px;
        border: 1px solid #eee;
        height: 322px;
    }

    .product_fz_new dt {
        height: 244px;
        border: 0;
        padding: 3px 0 3px;
        position: relative;
    }

    .product_fz_new dt img {
        height: 210px;
        width: 210px
    }

    .product_fz_new dd {
        margin: 0 1px 1px;
        border-top: 1px solid #f3f3f3;
        height: 55px
    }

    .product_fz_new dd ul {
        height: 60px;
        width: 203px;
        padding: 5px 5px 5px 10px
    }

    .product_list .p-scroll {
        position: absolute;
        z-index: 2;
        width: 194px;
        margin-left: 0;
        padding: 2px 0 3px 26px;
        margin-top: 2px;
    }

    .product_list .cur .p-scroll {
        margin-left: -3px
    }

    .product_list .p-scroll .ps-next, .product_list .p-scroll .ps-prev {
        display: none;
        position: absolute;
        width: 20px;
        height: 29px;
        line-height: 29px;
        text-align: center;
        color: #aaa;
        font-size: 16px;
        font-family: "\5b8b\4f53";
        cursor: pointer;
    }

    .product_list .p-scroll .ps-prev {
        left: 2px;
        top: 0;
    }

    .product_list .p-scroll .ps-next {
        left: 196px;
        top: 0;
    }

    .product_list .p-scroll .ps-next, .product_list .p-scroll .ps-prev {
        display: block;
    }

    .product_list .p-scroll .ps-next.disabled, .product_list .p-scroll .ps-prev.disabled {
        padding: 0;
        color: #ccc;
        cursor: default;
    }

    .product_list .p-scroll .ps-wrap {
        position: relative;
        overflow: hidden;
        width: 170px;
        height: 29px;
        overflow: hidden;
        zoom: 1;
    }

    .product_list .p-scroll ul {
        position: absolute;
        width: 306px;
    }

    .product_list .p-scroll li {
        float: left;
        width: 34px;
        height: 29px;
        text-align: left;
    }

    .product_list .p-scroll a {
        cursor: default;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 1px;
    }

    .product_list .p-scroll img {
        width: 25px;
        height: 25px;
    }

    .product_list .p-scroll a:hover, .product_list .p-scroll a.curr {
        padding: 0;
        border-width: 2px;
        border-color: #e4393c;
    }





#midde_qq_Server_p {
    position: absolute;
    top: -64px;
    right: 40px;
    padding-right: 1px;
    z-index: 1105;
}

#midde_qq_Server_p i, .iconDivMain #myinfo_p i {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left-color: #333;
    border-right: 0;
    position: absolute;
    right: 0;
    z-index: 5
}

#midde_qq_Server_p .con {
    width: 209px;
    height: 140px;
    background-image: url(static/images/msg_01.png)
}

#midde_qq_Server_p .con .qq {
    width: 150px;
    height: 120px;
}

#qq-close {
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: 10px;
    top: -2px;
    width: 30px;
    z-index: 1106;
}

.font_1 {
    font-family: 宋体;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}

.font_2 {
    font-family: 宋体;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

.font_3 {
    font-family: 宋体;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #FF9900;
}

.foot .row03 {
    width: 640px
}

.foot .row03 span a, .foot .row03 span a:hover {
    margin: 0;
    border: 0;
    width: auto
} 








.userfloat_leftNav {
    width: 94px;
    background: #fff;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    bottom: 218px;
    left: 50%;
    margin-left: -609px;
    _top: expression(eval(document.documentElement.scrollTop+170));
    z-index: 9999
}

.userfloat_leftNav span, .userfloat_leftNav a {
    font-size: 13px;
    text-decoration: none;
    display: block;
    height: 29px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: -1px;
    line-height: 29px;
    padding-left: 4px;
    color: #000;
    overflow: hidden
}

.userfloat_leftNav span {
    background-color: #600;
    color: #000;
    text-align: center;
    padding: 0;
    height: 22px;
    line-height: 22px;
}

.userfloat_leftNav a:hover {
    background: #f32264;
    color: #fff;
    text-decoration: none;
} 







.footbrand {
    width: 990px;
    background: #fff;
    overflow: hidden;
    padding-bottom: 1px;
    margin: 0 auto;
    height: 142px
}

.footbrand a {
    border: 1px solid #DFDFDF;
    display: block;
    float: left;
    height: 70px;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    position: relative;
    text-indent: -999px;
    width: 98px;
    background: url(static/images/default_brandwall_bg11.png) no-repeat 0 0
}

.footbrand a span {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    cursor: pointer
}

.footbrand a:hover span {
    background: #000;
    opacity: 0.1;
    filter: alpha(opacity=10);
    visibility: visible
}

.footbrand a.last {
    width: 97px;
}

.footbrand a.nike {
    background-position: 21px -176px;
}

.footbrand a.adidas {
    background-position: -106px -176px;
}

.footbrand a.syc {
    background-position: -715px -333px;
}

.footbrand a.neo {
    background-position: -838px -333px;
}

.footbrand a.nb {
    background-position: -590px -176px;
}

.footbrand a.converse {
    background-position: -596px -10px;
}

.footbrand a.skq {
    background-position: -591px -258px;
}

.footbrand a.puma {
    background-position: -835px -176px;
}

.footbrand a.reebok {
    background-position: -719px -10px;
}

.footbrand a.asics {
    background-position: -467px -331px;
}

.footbrand a.kappa {
    background-position: -715px -176px;
}

.footbrand a.xtep {
    background-position: 20px -332px;
}

.footbrand a.anta {
    background-position: -347px -176px;
}

.footbrand a.lining {
    background-position: -230px -176px;
}

.footbrand a.vans {
    background-position: -105px -256px;
}

.footbrand a.troead {
    background-position: -593px -332px;
}

.footbrand a.luotuo {
    background-position: -835px -256px;
}

.footbrand a.skomart {
    background-position: -715px -99px;
}

.footbrand a.timberland {
    background-position: -350px -331px;
}

.footbrand a.aokang {
    background-position: -230px -334px;
}

.footbrand a.lantivy {
    background-position: -829px -411px;
}

.footbrand a.stsat {
    background-position: -106px -100px;
}

.footbrand a.levis {
    background-position: 22px -412px;
}

.footbrand a.gzh {
    background-position: 28px -491px;
}

.footbrand a.nike_tx {
    background-position: -229px -491px;
}

.footbrand a.adidas_tx {
    background-position: -350px -491px;
}

.footbrand a.skq_tx {
    background-position: -105px -564px
}

.footbrand a.puma_tx {
    background-position: 15px -564px
}

.footbrand a.disney {
    background-position: -223px -564px
}

.footbrand a.hellokitty {
    background-position: -480px -491px;
}

.footbrand a.dc {
    background-position: -595px -491px;
}

.footbrand a.umbro {
    background-position: -718px -486px;
}

.btmfenlei_hd {
    height: 36px;
    width: 990px;
    margin: 0 auto 28px;
    clear: both;
    border-bottom: 1px solid #ccc;
    position: relative
}

.btmfenlei_hd h3 {
    font-size: 18px;
    font-family: microsoft yahei;
    position: absolute;
    left: 50%;
    margin: 12px 0 0 -60px;
    background: #fff;
    padding: 10px 20px;
    font-weight: 100;
}

.btmfenlei_body {
    width: 990px;
    margin: 0 auto 15px;
    font-family: microsoft yahei;
    overflow: hidden
}

.btmfenlei_body dl {
    width: 245px;
    float: left;
    padding-right: 2px
}

.btmfenlei_body dt {
    text-align: center
}

.btmfenlei_body dt s {
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none
}

.btmfenlei_body dt a {
    color: #222;
    text-decoration: none
}

.btmfenlei_body dd {
    border-right: 1px dotted #ccc;
    height: 85px;
    overflow: hidden;
    padding: 0 10px 0 15px
}

.btmfenlei_body dd a {
    color: #555;
    display: block;
    float: left;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 54px;
    font-size: 12px;
    text-decoration: none
}

.btmfenlei_body a:hover {
    color: #c00;
    text-decoration: underline
} 