<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="ShoeManager"></dubbo:application>
    <dubbo:registry address="zookeeper://localhost:2181"/>

    <dubbo:reference id="userInterface" interface="com.s.interfac.UserService"></dubbo:reference>
    <dubbo:reference id="specService" interface="com.s.interfac.SpecService" ></dubbo:reference>
    <dubbo:reference id="brandsService" interface="com.s.interfac.BrandsService" ></dubbo:reference>
    <dubbo:reference id="advertService" interface="com.s.interfac.AdvertService"></dubbo:reference>
    <dubbo:reference id="positionsService" interface="com.s.interfac.PositionsService"></dubbo:reference>
    <dubbo:reference id="producttypesService" interface="com.s.interfac.ProducttypesService"></dubbo:reference>
    <dubbo:reference id="productService" interface="com.s.interfac.ProductService"></dubbo:reference>
</beans>