<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 应用程序的服务名称，将来会把此名字注册到注册中心 -->
    <dubbo:application name="shoestore-solr"></dubbo:application>
    <!-- 注册中心的地址和端口号，以及类型 -->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"></dubbo:registry>
    <!-- 开发出来的协议类型 -->
    <dubbo:protocol name="dubbo" port="20883"></dubbo:protocol>
    <!-- 声明哪些service可以被调用 -->
    <dubbo:service interface="com.s.interfac.ProductService" ref="productServiceImpl"></dubbo:service>
</beans>