<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统2</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
</head>
<body>
系统2
<div id="loginbar">
</div>
</body>
<script type="text/javascript">
    $(function () {
        usertoken();
    })
    function usertoken() {
        var token = $.cookie("user");
        alert(token);
        if (token){
            $.getJSON("http://localhost:10000/token/"+token,function (data) {
                if(data.status == 200){
                    var username = data.data.username;
                    var html = username + "，欢迎来到！<a href=\"http://www.taotao.com/user/logout.html\" class=\"link-logout\">[退出]</a>";
                    $("#loginbar").html(html);
                }
                if (data.status==400){
                    location.href="http://localhost:10000/passport-login.html";
                }
            })
        }else{
            alert("没有登陆");
        }
    }
</script>
</html>