<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>用户注册</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script type="text/javascript" src="static/js/formplus.js"></script>
    <link rel="stylesheet" href="static/css/style_2.css" type="text/css"/>
    <link href="static/css/style_b.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/style_1.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="static/js/tools.js"></script>
    <style>
        .foot {
            border: 0;
            width: 980px;
            margin: 30px auto 0
        }

        .head {
            padding: 20px 0 0
        }

        .login-descript {
            padding: 12px 0 0;
            border: 0;
            margin: 0
        }

        .RegisterWrap .form table th {
            text-align: right;
            color: #666;
            width: 75px;
            padding: 0
        }

        .returnlogin {
            display: inline-block;
            width: 91px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            color: #c66;
            font-size: 14px;
            font-weight: 700;
            background: url(static/images/loginbg.png) no-repeat;
        }

        .returnlogin:hover {
            text-decoration: none;
            color: #c00
        }

        .head .logo {
            height: auto
        } </style>
</head>
<body>
<div class="head">
    <div class="warp clfix">
        <span class="logo">
            <a title="返回名鞋库首页" href="">
                <img alt="欢迎来到名鞋库网上鞋城!" src="static/images/newlogo.png">
            </a>
        </span>
    </div>
</div>
<div class="AllWrapInside">
    <div class="PassportWrap">
        <div style="margin:0 auto;width:780px;line-height:30px;text-align:right;padding-right:10px" class="c999">
            <a href="index.html">返回首页</a>
        </div>
        <form method="post" action='' id="signupform" class='signupform'>
            <div class="RegisterWrap" style="margin:0 auto;width:780px;">
                <div class="form"
                     style="padding:0;border:1px solid #efefef;border-radius:2px;box-shadow:0 0 8px #E5E5E5">
                    <div style="font-size:16px;font-family:microsoft yahei;color:#888;background:#f8f8f8;padding:4px 10px;border-bottom:1px solid #efefef;text-shadow:1px 1px #fff;font-weight:700;">
                        名鞋库用户注册
                    </div>
                    <input name="forward" type="hidden" value="//www.s.cn/">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:url(static/images/signup.jpg) no-repeat center bottom;">
                        <tr>
                            <td width="65%">
                                <div style="padding:40px 0 80px 80px">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <th></th>
                                            <td style="height:35px;line-height:25px">
                                                <input type="hidden" id="for_vali">
                                                <span class="valierror" id="valierror" style="margin:0;display:none;"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>用户名：</th>
                                            <td>
                                                <input autocomplete="off" class="x-input newinputstyle"
                                                       class="newinputstyle" name="uname" id="reg_user" maxlength="50"
                                                       value="邮箱/手机" onfocus="rmDefault(this)"
                                                       onblur="nameCheck(this);ga('send','event','会员','注册过程','用户名');"
                                                       style="width:220px;border:1px solid #ccc;padding:3px 5px;color:#aaa"
                                                       type="text"/><span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding-top:15px">密码：</th>
                                            <td style="padding-top:15px">
                                                <input autocomplete="off" class="x-input newinputstyle" class="newinputstyle" name="passwd"
                                                                                type="password" id="reg_passwd"
                                                                                onblur="verifyPasswd('reg_passwd');ga('send','event','会员','注册过程','密码');"
                                                                                style="width:220px;border:1px solid #ccc;padding:3px 5px"/>
                                                <span id="passwd_err_msg"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding-top:15px">确认密码：</th>
                                            <td style="padding-top:15px">
                                                <input autocomplete="off"
                                                       class="x-input newinputstyle"
                                                       class="newinputstyle" name="passwd_r"
                                                       type="password" id="reg_passwd_r"
                                                       onfocus="hiddenError('valierror');"
                                                       onblur="verifyPasswdr('reg_passwd', 'reg_passwd_r');ga('send','event','会员','注册过程','确认密码');"
                                                       style="width:220px;border:1px solid #ccc;padding:3px 5px"/>
                                                <span id="passwd_r_err_msg"></span>
                                            </td>
                                        </tr>
                                        <!-- <tr> <th><i>*</i>电子邮箱：</th> <td><input autocomplete="off" class="x-input newinputstyle" class="newinputstyle" name="email" type="text" required="true" id="reg_email" maxlength="200" vtype="email" /></td> </tr> -->
                                        <tr>
                                            <th style="padding-top:15px">验证码：</th>
                                            <td style="padding-top:15px">
                                                <input autocomplete="off" class="x-input "
                                                       style="width:65px" size="8" type="text"
                                                       required="true" name="signupverifycode"
                                                       onBlur="ga('send','event','会员','注册过程','验证码');"
                                                       id="iptsingup" vtype="digits"/>
                                                <span class='verifyCode' style='display:none;'>
                                                    <img src="#" border="1" codesrc='//www.s.cn/passport-s-verifyCode.html'/>
                                                    <a href="javascript:void(0)" style="color:#666">换个图片</a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td class="c777" style="padding-top:25px">
                                                <label for="license" class="nof" style="width:auto; text-align:left; font-weight:normal;">
                                                <input type="checkbox" id="license" name="license" value="agree"
                                                       checked="checked"/> 我已阅读并同意
                                                    <a href="//www.s.cn/page-license.html" id="terms_error" class="lnk" target='_blank'>
                                                        <span class="FormText" id="terms_error_sym">
                                                            <font color="#3366dd">名鞋库会员注册协议</font>
                                                        </span>
                                                    </a>。
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td style="padding-top:10px">
                                                <input class="actbtn cart-btn-next06"
                                                       onclick="ga('send','event','会员','注册过程','注册 ');return verfiySignupForm();"
                                                       type="submit" value="注册新用户"
                                                       id="fast_reg_reg"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td width="35%" style="text-align:center;">
                                <div style="border-left:1px dashed #ccc;height:300px"><br/><br/><br/><br/>
                                    <b>已经有名鞋库账号？</b>
                                    <div class="box10"></div>
                                    <a href='passport-login.html' class='returnlogin' id="fast_reg_login">现在登录</a>
                                    <div style="padding:40px 0 0 0; text-align:center">
                                        <img src="static/picture/singupmy.png"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        <script>
            void function (formclz) {
                var vcodeBox = $E('.' + formclz + ' .verifyCode');
                var vcodeImg = vcodeBox.getElement('img');
                var refreshVcodeBtn = vcodeBox.getElement('a').addEvent('click', function (e) {
                    e.stop();
                    vcodeImg.src = vcodeImg.get('codesrc') + '?' + $time();
                });
                $$('.' + formclz + ' input').addEvent('focus', function () {
                    if (this.form.retrieve('showvcode', false))return;
                    vcodeBox.show();
                    refreshVcodeBtn.fireEvent('click', {stop: $empty});
                    this.form.store('showvcode', true);
                });
                $E('.' + formclz + '').addEvent('submit', function (e) {
                    var str = $("reg_user").value.trim();
                    var len = 0;
                    for (var i = 0; i < str.length; i++) {
                        if (str.charCodeAt(i) > 255)len = 1;
                    }
                    if (!len && str.length < 3)return false;
                });
            }('signupform');
        </script>
        <script>
            function nameCheck(input) {
                var pass = 0;
                var mobilePreg = /(^1[3|4|5|7|8][0-9]\d{8,8}$)|(^17[7890][0-9]{8}$)/;
                var mailPreg = /^([a-z0-9A-Z]+[-|_|\.]?)+([a-z0-9A-Z]?)@([a-z0-9A-Z]+(-[a-z0-9A-Z]+)?\.)+[a-zA-Z]{1,}$/;
                var domainPreg = /^([a-z0-9]([-a-z0-9]*[a-z0-9])?\.)+((a[cdefgilmnoqrstuwxz]|aero|arpa)|(b[abdefghijmnorstvwyz]|biz)|(c[acdfghiklmnorsuvxyz]|cat|com|coop)|d[ejkmoz]|(e[ceghrstu]|edu)|f[ijkmor]|(g[abdefghilmnpqrstuwy]|gov)|h[kmnrtu]|(i[delmnoqrst]|info|int)|(j[emop]|jobs)|k[eghimnprwyz]|l[abcikrstuvy]|(m[acdghklmnopqrstuvwxyz]|mil|mobi|museum)|(n[acefgilopruz]|name|net)|(om|org)|(p[aefghklmnrstwy]|pro)|qa|r[eouw]|s[abcdeghijklmnortvyz]|(t[cdfghjklmnoprtvwz]|travel)|u[agkmsyz]|v[aceginu]|w[fs]|y[etu]|z[amw])$/i;
                if (mobilePreg.test(input.value)) {
                    pass = 1;
                }
                if (mailPreg.test(input.value)) {
                    str = input.value;
                    var strs = new Array(); //定义一数组
                    strs = str.split("@"); //字符分割
                    if (domainPreg.test(strs[1])) {
                        pass = 1;
                    }

                }
                if (!pass) {
                    $("valierror").set("class", "valierror").setHTML('请输入正确的邮箱账号或手机!').setStyle('display', '');
                    return;
                }
                new Request.HTML({
                    update: $('valierror'),
                    onComplete: function (a, b, c) {
                        if (c.indexOf('可以使用') == -1) {
                            $('valierror').set("class", "valierror").setStyle('display', '');
                        } else {
                            $('valierror').set("class", "valisuccess").setStyle('display', '');
                        }
                    },
                    data: 'name=' + encodeURIComponent(input.value = input.value.trim())
                }).post('//www.s.cn/passport-namecheck.html');
            }
            function rmDefault(input) {
                if (input.value == input.defaultValue) {
                    input.value = '';
                    input.style.color = "rgb(0, 0, 0)";
                }
            }


            function verifyPasswd(passwdinput) {
                var passwdinput = $(passwdinput);
                var passwd = passwdinput.get('value');
                if (passwd.length < 4) {
                    $("valierror").set("class", "valierror").setHTML('您输入的密码不能小于4个字符!').setStyle('display', '');
                    return false;
                } else if (passwd.length > 20) {
                    $("valierror").set("class", "valierror").setHTML('您输入的密码不能大于20个字符!').setStyle('display', '');
                    return false;
                }
                var passwdr = $('reg_passwd_r').get('value');
                if (passwdr.length > 0) {
                    if (!(passwd == passwdr)) {
                        $("valierror").set("class", "valierror").setHTML('您两次输入的密码不一致!').setStyle('display', '');
                        return false;
                    }
                }
                $("valierror").setStyle('display', 'none');
                return true;
            }

            function verifyPasswdr(passwdinput, passwdrinput) {
                var passwd = $(passwdinput).get('value');
                if (passwd.length < 4) {
                    $("valierror").set("class", "valierror").setHTML('您输入的密码不能小于4个字符!').setStyle('display', '');
                    return false;
                } else if (passwd.length > 20) {
                    $("valierror").set("class", "valierror").setHTML('您输入的密码不能大于20个字符!').setStyle('display', '');
                    return false;
                }
                var passwdr = $(passwdrinput).get('value');
                if (!(passwd == passwdr)) {
                    $("valierror").set("class", "valierror").setHTML('您两次输入的密码不一致!').setStyle('display', '');
                }
            }
        </script>
    </div>
</div>
<div class="foot" style="border-top:2px solid #CE3C3B;background:none">
    <div class="row02 c777">
        <span>
            <a target="_blank" href="">关于名鞋库</a>&nbsp;|&nbsp;
            <a target="_blank" href="">联系名鞋库</a>&nbsp;|&nbsp;
            <a target="_blank" href="">人才招聘</a>&nbsp;|&nbsp;
            <a target="_blank" href="">免责条款</a>&nbsp;|&nbsp;
            <a target="_blank" href="">法律声明</a>&nbsp;|&nbsp;
            <a target="_blank" href="">客户留言</a>&nbsp;|&nbsp;
            <a target="_blank" href="">意见反馈</a>&nbsp;|&nbsp;
            <a target="_blank" href="">全部分类</a>&nbsp;|&nbsp;
            <a target="_blank" href="">友情链接</a>&nbsp;|&nbsp;<a
                target="_blank" href="">鞋子尺码对照表</a>&nbsp;|&nbsp;
            <a target="_blank" href="">问答</a>
            <a target="_blank" href="">咨询</a>
            <a target="_blank" href="">评论</a>
            <a target="_blank" href="">主题</a>&nbsp;|&nbsp;
            <a target="_blank" href="">鞋子品牌大全</a>&nbsp;|&nbsp;
            <a target="_blank" href="">商品大全</a>
        </span>
        <div class="cl"></div>Copyright&nbsp;&copy;&nbsp;2008-2014 <s>s.cn </s> All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="" rel="nofollow">闽ICP备08106896号 </a> &nbsp;&nbsp;&nbsp;&nbsp;经营许可证闽B2-20110061
    </div>
</div>
</div>
</body>
<script type="text/javascript">
    /**用户提交表单的时候 对表单进行验证*/
    function verfiySignupForm() {
        var passwd = $('reg_passwd').get('value');
        var passwdr = $('reg_passwd_r').get('value');
        if (passwd.length < 4) {/*密码小于4个字符*/
            $("valierror").setHTML('您输入的密码不能小于4个字符!').set("class", "valierror").setStyle('display', '');
            return false;
        } else if (passwd.length > 20) {/*密码大于20个字符*/
            $("valierror").setHTML('您输入的密码不能大于20个字符!').set("class", "valierror").setStyle('display', '');
            return false;
        }else if (passwd !== passwdr) {
            $("valierror").setHTML('您两次输入的密码不一致!').set("class", "valierror").setStyle('display', '');
            return false;
        }else{
            return false;
        }
    }
    /**消除错误提示*/
    function hiddenError(error_id) {
        var obj = $(error_id);
        obj.setStyle('display', 'none');
    }
</script>
</html>