
    <div class="s-rbar s-rbar-status-expand" style="visibility: visible; right: 0px; width: 37px;">
        <div class="s-rbar-tabs" style="height:100%;">
            <div class="s-rbar-tabs-mask" id="tdtv_tit">
                <div class="s-rbar-tabnav s-rbar-tabs-top-wide on">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-hot fixpng"></div>
                    <div class="s-rbar-tab-txt">热门活动</div>
                </div>
                <div class="s-rbar-tabnav s-rbar-tab s-rbar-tab-brand">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-brand fixpng"></div>
                    <div class="s-rbar-tab-txt">品牌分类</div>
                </div>
                <div id="CartList" class="s-rbar-tabnav s-rbar-tab s-rbar-tab-pop s-rbar-tab-cart tmp_login"
                     style="margin: 8px 0px;">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-cart fixpng"></div>
                    <div class="s-rbar-tab-tip">购物车
                        <div class="s-rbar-arr">◆</div>
                    </div>
                    <div class="s-rbarp-tab-cart-border"></div>
                </div>
                <div id="Member_info_list" class="s-rbar-tabnav s-rbar-tab s-rbar-tab-pop s-rbar-tab-order tmp_login"
                     style="margin: 8px 0px;">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-order fixpng"></div>
                    <div class="s-rbar-tab-tip">我的订单
                        <div class="s-rbar-arr">◆</div>
                    </div>
                </div>
                <div class="s-rbar-tab s-rbar-tab-pop s-rbar-tab-kefu" style="margin: 8px 0px;">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-kefu fixpng" title="点击给我发短信"
                    	onclick="ga('send','event','在线咨询','右侧QQ咨询',document.location.href);javascript:openwindow('http://crm2.qq.com/page/portalpage/wpa.php?uin=4008002222&amp;cref=file%3A%2F%2F%2F%2F%2Fvmware-host%2FShared%2520Folders%2F%25E6%2588%2591%25E7%259A%2584%25E6%25A1%258C%25E9%259D%25A2%2Fqq.html&amp;ref=&amp;pt=%E6%97%A0%E6%A0%87%E9%A2%98%E6%96%87%E6%A1%A3&amp;f=1&amp;ty=1&amp;ap=&amp;as=&amp;aty=0&amp;a=',500,700);"></div>
                    <div class="s-rbar-tab-tip">联系客服
                        <div class="s-rbar-arr">◆</div>
                    </div>
                </div>
                <div id="FavList" class="s-rbar-tabnav s-rbar-tab s-rbar-tab-pop s-rbar-tab-favor tmp_login">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-favor fixpng"></div>
                    <div class="s-rbar-tab-tip">我的收藏
                        <div class="s-rbar-arr">◆</div>
                    </div>
                </div>
                <div class="s-rbar-tab s-rbar-tab-pop s-rbar-tab-share">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-share fixpng"></div>
                    <div class="s-rbar-tab-tip shareArea">
                        <div class="ul">
                        	<a href="http://v.t.sina.com.cn/share/share.php?url=//www.s.cn&title='分享内容'" target="_blank">
                                <span class="iconWeibo"></span>
                                <em class="jText">新浪微博</em>
                        	</a>
                        	<a href="http://v.t.qq.com/share/share.php?url=//www.s.cn&title='分享内容'" target="_blank">
                                <span class="iconQQ"></span>
                                <em class="jText">腾讯微博</em>
                        	</a>
                        	<a href="javascript:window.open('http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title));void(0)">
                                <span class="iconRenren"></span>
                                <em class="jText">人人网</em>
                        	</a>
                        </div>
                        <div class="s-rbar-arr">◆</div>
                    </div>
                </div>
                <div class="s-rbar-tab s-rbar-tab-pop s-rbar-tab-top" id="backToTop">
                    <div class="s-rbar-tab-logo s-rbar-tab-logo-top"></div>
                    <div class="s-rbar-tab-tip">返回顶部
                        <div class="s-rbar-arr">◆</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-rbar-plugins" id="tdtv_tab">
            <div class="s-rbar-plugin s-rbar-plugin-hot">
                <div class="mui-plugin-bd" id="s-rbar-plugin-hot">
                    <div id="s-rbar-plugin-hot-bd" style="position:absolute;">
                    	<a href="//www.s.cn/page-fuzhuang11.html" target="_blank">
                    		<img src="static/picture/index_rm.jpg"/>
                    	</a> 
                    	<a href="//www.s.cn/page-pb20161111.html" target="_blank">
                    		<img src="static/picture/hd_1.jpg"/>
                    	</a> 
                    	<a href="//www.s.cn/page-1111xiuxianxie.html" target="_blank">
                    		<img src="static/picture/hd_2.jpg"/>
                    	</a>
                        <a href="//www.s.cn/page-1111lanqiu.html" target="_blank">
                        	<img src="static/picture/hd_3.jpg"/>
                        </a> 
                        <a href="javascript:;">
                        	<img src="static/picture/sr_150625hd5.png"/>
                        </a> 
                        <a style="width:125px;margin:15px auto 5px" href="#" target="_blank">
                        	<img src="static/picture/sr_hd05.png"/>
                        </a>

                        <div class="other_hd">
                        	<a href="//www.s.cn/list?p=2016" target="_blank">2016新品&nbsp;&gt;</a>
                        	<a href="//www.s.cn/list/0e3" target="_blank">篮球战靴&nbsp;&gt;</a>
                        	<a href="//www.s.cn/page-duanma_yh.html" target="_blank">断码特惠&nbsp;&gt;</a>
                            <a href="//www.s.cn/page-lining_run.html" target="_blank">智能跑步鞋&nbsp;&gt;</a>
                            <a href="//www.s.cn/list/0d5?p=经典" target="_blank">板鞋专区&nbsp;&gt;</a>
                            <a href="//www.s.cn/list?p=NB%20%E5%A4%8D%E5%8F%A4" target="_blank">NB复古鞋&nbsp;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-rbar-plugin s-rbar-plugin-brands">
                <div class="mui-plugin-bd" id="s-rbar-plugin-brands">
                    <ul class="brands" id="s-rbar-plugin-brands-bd">
                        <li>
                        	<img src="static/picture/sr_ppyd.png">
                        	<a class="nike" href="//www.s.cn/nike-brand.html" target="_blank">耐克</a>
                        	<a class="adidas" href="//www.s.cn/adidas-brand.html" target="_blank">阿迪</a>
                        	<a class="syc" href="//www.s.cn/originals-brand.html" target="_blank">三叶草</a>
                        	<a class="neo" href="//www.s.cn/neo-brand.html" target="_blank">NEO</a>
                        	<a class="nb" href="//www.s.cn/newbalance-brand.html" target="_blank">新百伦</a>
                        	<a class="converse" href="//www.s.cn/converse-brand.html" target="_blank">匡威</a>
                        	<a class="puma" href="//www.s.cn/puma-brand.html" target="_blank">彪马</a>
                        	<a class="skq" href="//www.s.cn/skechers-brand.html" target="_blank">斯凯奇</a>
                        	<a class="reebok" href="//www.s.cn/reebok-brand.html" target="_blank">锐步</a>
                        	<a class="asics" href="//www.s.cn/yaseshi-brand.html" target="_blank">亚瑟士</a>
                        	<a class="dc" href="//www.s.cn/dc-brand.html" target="_blank">DC</a>
                        	<a class="kappa" href="//www.s.cn/kappa-brand.html" target="_blank">卡帕</a>
                        	<a class="anta" href="//www.s.cn/anta-brand.html" target="_blank">安踏</a>
                        	<a class="lining" href="//www.s.cn/lining-brand.html" target="_blank">李宁</a>
                        	<a class="vans" href="//www.s.cn/vans-brand.html" target="_blank">万斯</a>
                        </li>
                        <li>
                        	<img src="static/picture/sr_pphw.png">
                        	<a class="toread" href="//www.s.cn/toread-brand.html" target="_blank">探路者</a> 
                        	<a class="discovery" href="//www.s.cn/discovery-brand.html" target="_blank">非凡探索</a>
                        	<a class="columbia" href="//www.s.cn/list/columbia" target="_blank">哥伦比亚</a>
                        </li>
                        <li>
                        	<img src="static/picture/sr_ppnx.png">
                        	<a class="lantivy" href="//www.s.cn/lantivy-brand.html" target="_blank">朗蒂维</a>
                        	<a class="aokang" href="//www.s.cn/list/aokang" target="_blank">奥康</a>
                        	<a class="stsat" href="//www.s.cn/list/stsat_sixtynine" target="_blank">星期六</a>
                        </li>
                        <li>
                        	<img src="static/picture/sr_pptx.png">
                        	<a class="nike_tong" href="//www.s.cn/list/nike-0b6" target="_blank">耐克童鞋</a>
                        	<a class="adidas_tong" href="//www.s.cn/list/adidas-0b6" target="_blank">阿迪童鞋</a>
                        	<a class="disney" href="//www.s.cn/list/disney-0b6" target="_blank">迪士尼</a>
                        </li>
                        <li>
                        	<img src="static/picture/sr_150625pp.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="s-rbar-plugin s-rbar-plugin-cart">
                <div class="mui-plugin-bd">
                    <div class="s-rbarp-cart-wrap">
                        <div id="J_MBarMiniCart" class="s-rbarp-cart-bd s-mCart s-mcWeaken s-mcCheckedShow">
                            <div class="s-mcRoot">
                                <div class="s-mcListBox">
                                    <div class="s-mcListInner">
                                        <div class="s-mcList">
                                            <div class="s-mcTop">
                                            	<a class="s-mcCartBtn" href="//www.s.cn/cart-index.html" title="全屏查看">全屏查看</a>
                                            </div>
                                            <div class="s-mcBundle s-mcBundleC">
                                                <div class="s-mcBundleList">
                                                    <div class="s-mcMainOne" id="s-mcMainOne">
                                                        <div class="s-mcMainList" id="s-mcMainList"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="s-mcHandler">
                                                <div class="s-mcCashier-wrap">
                                                    <div id="cartTotal" class="s-mcTotal clearfix"></div>
                                                    <p class="s-rbarp-favor-see-more s-mcGo">
                                                    	<a class="fixpng" target="_blank" href="//www.s.cn/cart-checkout.html">结算</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-rbar-plugin s-rbar-plugin-order">
                <div id="MemberInfo" class="mui-plugin-bd"></div>
            </div>
            <div class="s-rbar-plugin s-rbar-plugin-favor">
                <div class="s-rbar-plugin-hd">
                	<a href="//www.s.cn/member-favorite.html" class="s-rbar-plugin-hd-title">
                    &gt;&gt;我的收藏</a>
                </div>
                <div class="mui-plugin-bd">
                    <div class="s-rbarp-favor-list" id="s-rbarp-favor-list"></div>
                    <p class="s-rbarp-favor-see-more">
                    	<a href="//www.s.cn/member-favorite.html">查看全部收藏</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
