<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s.dao.ProductMapper">
    <select id="findProductByInfo" resultType="com.s.entity.Product">
        SELECT p.*
          FROM `product` AS p , `product_spec` AS ps
          WHERE p.`productId` = ps.`productId`
            AND `specId` IN
            <foreach collection="sid" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="bname != null">
                AND `brandId` = (SELECT `brandId` FROM `brands` WHERE `code` = 'adidas')
            </if>
            AND `productStatus` = 1
    </select>
</mapper>